<template>
    <div class="row">

        <div class="col-xs-8">
            <div class="box">
                <div class="box-header">
<!--                    <div class="form-group row">-->
<!--                        <div class="col-md-5">-->
<!--                            <input type="text" v-model="search.name" placeholder="Tên tin đăng/Mã tin đăng" class="form-control">-->
<!--                        </div>-->
<!--                        <div class="col-md-2">-->
<!--                            <select v-model="search.packageName" class="form-control">-->
<!--                                <option value="">Tên gói</option>-->
<!--                                <option value="VIECLAMCUNG">Việc làm cung</option>-->
<!--                                <option value="BDSCUNG">Bất động sản cung</option>-->
<!--                                <option value="VANTAICUNG">Vận tải cung</option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                        &lt;!&ndash;<div class="col-md-2">&ndash;&gt;-->
<!--                            &lt;!&ndash;<select v-model="search.expiredTime" class="form-control">&ndash;&gt;-->
<!--                                &lt;!&ndash;<option value="">Thời hạn</option>&ndash;&gt;-->
<!--                                &lt;!&ndash;<option value="limited">Còn hạn</option>&ndash;&gt;-->
<!--                                &lt;!&ndash;<option value="expired">Hết hạn</option>&ndash;&gt;-->
<!--                            &lt;!&ndash;</select>&ndash;&gt;-->
<!--                        &lt;!&ndash;</div>&ndash;&gt;-->
<!--                        <div class="col-md-2">-->
<!--                            <select v-model="search.status" class="form-control">-->
<!--                                <option value="">Trạng thái tin</option>-->
<!--                                &lt;!&ndash;<option value="draft">Nháp</option>&ndash;&gt;-->
<!--                                <option value="published">Đã publish</option>-->
<!--                                <option value="close">Đã close</option>-->
<!--                                &lt;!&ndash;<option value="expired">Đã hết hạn</option>&ndash;&gt;-->
<!--                            </select>-->
<!--                        </div>-->
<!--                        <div class="col-md-3">-->
<!--                            <button type="button" @click="fetch()" class="btn btn-block btn-primary">-->
<!--                                <i class="fa fa-search"> Tìm kiếm</i>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
                <div style="padding:0 10px;margin-bottom: 15px">
                    <a @click="addModel()" class="btn btn-sm btn-primary btn-flat" target="_blank">
                        <i class="fa fa-plus"></i> Thêm mới
                    </a>
                </div>

                <div class="box-body table-responsive no-padding">
                    <table class="vuetable table table-striped table-bordered">
                        <tbody>
                        <tr>
<!--                            <th><input type="checkbox" v-model="selectAll" @click="select"> Chọn-->
<!--                            </th>-->
                            <th>STT</th>
                            <th>Tên</th>
                            <th>Mô tả</th>
                            <th>MT</th>
                            <th>Ngày bắt đầu</th>
                            <th>Ngày kết thúc</th>
<!--                            <th>Chi tiết</th>-->
                            <th>Sửa tin</th>
<!--                            <th>Xóa tin</th>-->
                        </tr>
                        <tr v-for="item in filteredData" :key="item.id">
<!--                            <td><input type="checkbox" :value="item.id" v-model="selected"></td>-->
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.mt}}</td>
                            <td>{{dateConvert(item.start_date)}}</td>
                            <td>{{dateConvert(item.end_date)}}</td>
<!--                            <td>-->
<!--                                <button  class="btn btn-sm btn-primary btn-flat" @click="show(item)">-->
<!--                                    <i class="fa fa-newspaper-o"></i>-->
<!--                                </button>-->
<!--                            </td>-->
                            <td>
                                <a  class="btn btn-sm btn-primary btn-flat"  @click="editModel(item)">
                                    <i class="fa fa-pencil-square-o"></i>
                                </a>
                            </td>
<!--                            <td>-->
<!--                                <a  class="btn btn-sm btn-danger btn-flat"  @click="deleteModel(item.id)">-->
<!--                                    <i class="fa fa-window-close-o"></i>-->
<!--                                </a>-->
<!--                            </td>-->
                        </tr>
                        </tbody>
                    </table>

                    <template v-if="params.data.next_page_url !== null || params.data.prev_page_url !== null">
                        <div class="col-md-6" style="margin-top: 20px">
                            <div class="form-inline">
                                <label class="control-label">Hiển thị </label>
                                <select v-on:change="fetch()" v-model="search.per_page" class="form-control">
                                    <option value="10">10 hàng</option>
                                    <option value="25">25 hàng</option>
                                    <option value="50">50 hàng</option>
                                    <option value="100">100 hàng</option>
                                </select>
                                <label>
                                    {{showInfoPagination()}}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <nav aria-label="Page navigation" class="pull-right">
                                <ul class="pagination">
                                    <li v-model="params.data.prev_page_url"
                                        v-bind:class="params.data.prev_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="params.data.prev_page_url !== null ? fetch(params.data.prev_page_url) : ''">
                                            <i class="fa fa-angle-double-left"></i>
                                        </a>
                                    </li>

                                    <li v-for="page in pagesNumber"
                                        :class="{'active': page == params.data.current_page}">
                                        <a href="javascript:void(0);"
                                           v-on:click="fetch(params.data.path + '?page=' +page)">{{ page }}</a>
                                    </li>

                                    <li v-model="params.data.next_page_url"
                                        v-bind:class="params.data.next_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="params.data.next_page_url !== null ? fetch(params.data.next_page_url) : ''">
                                            <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </template>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <div class="col-xs-4">
<!--                <h4>Thêm mới</h4>-->
            <div class="boxTr" style="background: white;">
                <h4 class="text-center" v-if="statusBtn == 1">Sửa tin</h4>
                <h4 class="text-center" v-if="statusBtn == 0">Thêm mới</h4>
                <tr>
                    <td>Tên:</td>
                    <td> <input type="text" v-model="detail.name" placeholder="" class="form-control" style="width: 300px;"></td>
                </tr>
                <tr>
                    <td>Mô tả:</td>
                    <td> <textarea v-model="detail.description" placeholder="" class="form-control" style="width: 300px;height:100px"></textarea></td>


                </tr>
                <tr>
                    <td>MT:</td>
                    <td> <textarea v-model="detail.mt" placeholder="" class="form-control" style="width: 300px;height:100px"></textarea></td>

                </tr>
                <tr>
                    <td>Ngày bắt đầu:</td>
                    <td><date-picker v-model="start_date" :config="config" style="width: 300px;"></date-picker></td>
                </tr>
                <tr>
                    <td>Ngày kết thúc:</td>
                    <td><date-picker v-model="end_date" :config="config" style="width: 300px;"></date-picker></td>
                </tr>
                <tr style="width: 100%;position: absolute;">
                    <div class="box-footer text-center" v-if="statusBtn == 1">
                        <button @click="onSubmitEdit()" type="submit" class="btn btn-primary">Sửa tin</button>
                    </div>
                    <div class="box-footer text-center" v-if="statusBtn == 0">
                        <button @click="onSubmitAdd()" type="submit" class="btn btn-primary">Thêm mới</button>
                    </div>
                </tr>
            </div>
        </div>
    </div>
</template>
<script>
    var moment = require("moment");
    import HotelDatePicker from "vue-hotel-datepicker";
    // window.$ = window.jQuery = require("jquery");
    import {
        ModelSelect
    } from "vue-search-select";

    export default {
        components: {
            ModelSelect,
            HotelDatePicker
        },
        data() {
            return {
                params: {
                    data: '',
                },
                search: {
                    name: '',
                    packageName:'',
                    status:'',
                    per_page: 10
                },
                config: {
                    format: "DD-MM-YYYY",
                    useCurrent: true,
                    sideBySide: true
                },
                statusBtn:0,
                // detail:{
                //     start_date: moment().format("DD-MM-YYYY"),
                //     end_date: moment().format("DD-MM-YYYY"),
                // },
                start_date: '',
                end_date: '',
                status: {
                    listSelected:'',
                    statusName:''
                },
                userID: window.TrucBach.user.id,
                offset: 4,
                selected: [],
                selectAll: false,
                detail:{
                    name:'',
                    description:'',
                    mt:'',
                    // start_date:'',
                    // end_date:'',
                }

            };
        },
        computed: {
            pagesNumber: function () {
                if (!this.params.data.to) {
                    return [];
                }
                var from = this.params.data.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                var to = from + this.offset * 2;
                if (to >= this.params.data.last_page) {
                    to = this.params.data.last_page;
                }
                var pagesArray = [];
                for (from; from <= to; from++) {
                    pagesArray.push(from);
                }
                return pagesArray;
            },

            filteredData: function () {
                // var search_array = this.params.data.data,
                //     searchString = this.search.name;
                //
                // if(!searchString){
                //     return search_array;
                // }
                //
                // searchString = searchString.trim().toLowerCase();
                //
                // search_array = search_array.filter(item => {
                //     if(item.post_title.toLowerCase().indexOf(searchString) !== -1 || item.post_code.toLowerCase().indexOf(searchString) !== -1){
                //         return item;
                //     }
                // });
                var item = this.params.data.data;
                console.log(item);
                // Return an array with the filtered data.
                return item;
            }
        },
        mounted() {

            this.fetch();
        },
        methods: {
            fetch(url) {
                url = url || '/api/ctkm/showCtkm';
                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    this.params.data = response.data.data;
                });
            },

            // show (data) {
            //     this.detail = data;
            //     this.$modal.show('postDetail');
            // },
            onSubmitAdd(){
                if (this.start_date === '') {
                    this.$notify("alert", "Chưa nhập ngày bắt đầu", 'error');
                    return false;
                }
                if (this.end_date === '') {
                    this.$notify("alert", "Chưa nhập ngày kết thúc", 'error');
                    return false;
                }
                if ( this.detail.name === '') {
                    this.$notify("alert", "Chưa nhập tên", 'error');
                    return false;
                }
                if (this.detail.description === '') {
                    this.$notify("alert", "Chưa nhập mô tả", 'error');
                    return false;
                }
                if (this.detail.mt === '') {
                    this.$notify("alert", "Chưa nhập MT", 'error');
                    return false;
                }


                var dataInput = {
                    start_date: this.start_date,
                    end_date: this.end_date,
                    detail: this.detail,
                };

                window.axios({
                    method: "post",
                    url: "/api/ctkm/addCtkm",
                    data: dataInput
                }).then(response => {
                    console.log(response.data)
                    this.$notify("alert", response.data.message, response.data.status);
                    if (response.data.status == "success") {
                        this.fetch();
                    }
                })
                    .catch(error => {
                        if (error.response && error.response.status == 422) {
                            let errMsg = error.response.data;
                            this.$notify("alert", errMsg.message, "error");
                        }
                    });

            },
            onSubmitEdit(){
                if (this.start_date === '') {
                    this.$notify("alert", "Chưa nhập ngày bắt đầu", 'error');
                    return false;
                }
                if (this.end_date === '') {
                    this.$notify("alert", "Chưa nhập ngày kết thúc", 'error');
                    return false;
                }
                if ( this.detail.name === '') {
                    this.$notify("alert", "Chưa nhập tên", 'error');
                    return false;
                }
                if (this.detail.description === '') {
                    this.$notify("alert", "Chưa nhập mô tả", 'error');
                    return false;
                }
                if (this.detail.mt === '') {
                    this.$notify("alert", "Chưa nhập MT", 'error');
                    return false;
                }

                var dataInput = {
                    start_date: this.start_date,
                    end_date: this.end_date,
                    detail: this.detail,
                };
                // console.log(dataInput);

                window.axios({
                    method: "post",
                    url: "/api/ctkm/editCtkm",
                    data: dataInput
                }).then(response => {
                    console.log(response.data)
                    this.$notify("alert", response.data.message, response.data.status);
                    if (response.data.status == "success") {
                        this.fetch();
                    }
                })
                    .catch(error => {
                        if (error.response && error.response.status == 422) {
                            let errMsg = error.response.data;
                            this.$notify("alert", errMsg.message, "error");
                        }
                    });

            },
            dateConvert(value){
                if (value) {
                    return moment(String(value)).format('DD-MM-YYYY')
                }
            },
            editModel (data) {

                this.statusBtn = 1;
                this.detail = data;
                this.start_date =  moment(data.start_date).format('DD-MM-YYYY'),
                this.end_date =  moment(data.end_date).format('DD-MM-YYYY'),
                console.log(data);

                // this.$modal.show('editModel');
            },
            deleteModel(id){

                var data = {
                    id: id,
                };
                // console.log(data);

                window.axios({
                    method: "post",
                    url: "/api/ctkm/deleteCtkm",
                    data: data
                }).then(response => {
                    console.log(response.data)
                    this.$notify("alert", response.data.message, response.data.status);
                    if (response.data.status == "success") {
                        this.fetch();
                    }
                })
                    .catch(error => {
                        if (error.response && error.response.status == 422) {
                            let errMsg = error.response.data;
                            this.$notify("alert", errMsg.message, "error");
                        }
                    });
            },
            addModel (data) {

                this.statusBtn = 0;
                this.start_date = '';
                this.end_date = '';
                this.detail = '';
                // this.detail = data;
                // this.start_date =  moment(data.start_date).format('DD-MM-YYYY'),
                //     this.end_date =  moment(data.end_date).format('DD-MM-YYYY'),
                //     console.log(data);

                // this.$modal.show('editModel');
            },

            select() {
                this.selected = [];
                if (!this.selectAll) {
                    for (let i in this.params.data.data) {
                        this.selected.push(this.params.data.data[i].id);
                    }
                }
            },

            showInfoPagination: function () {
                return (
                    this.params.data.from +
                    "-" +
                    this.params.data.to +
                    " trong số " +
                    this.params.data.total
                );
            },

        }
    }
</script>
<style lang="css" scoped>
    .boxTr{
        padding:40px 0;
    }
    .boxTr tr td{
        padding:5px 20px;
    }
    .boxTr tr td:first-child{
        color: red;
        width: 130px;
    }
    .boxTr tr td:last-child{
        max-width: 355px;

    }
    .v--modal-overlay{
        z-index: 9999999;
    }
</style>
