<template>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="form-group row">
                        <div class="col-md-3">
                            <input type="text" v-model="search.isdn" placeholder="Số điện thoại" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <model-select :options="params.packages"
                                          v-model="search.pkg_code"
                                          placeholder="Chọn CTKM">
                            </model-select>
                        </div>
                        <div class="col-md-2">
                            <date-picker v-model="search.start_date" :config="config"></date-picker>
                        </div>
                        <div class="col-md-2">
                            <date-picker v-model="search.end_date" :config="config"></date-picker>
                        </div>
                        <div class="col-md-2">
                            <button @click="fetch()" type="button" class="btn btn-block btn-primary">
                                <i class="fa fa-search"> Tìm kiếm</i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">

                    <div v-if="checkPromo == 'PROMO_01'">
                        <table class="vuetable table table-striped table-bordered">
                            <tbody>
                            <tr>
                                <th>STT</th>
                                <th>TB</th>
                                <th>Ngày chiến thắng</th>
                                <th>Tên Gói</th>
                                <th>Tình trạng trao thưởng</th>
                            </tr>
                            <tr v-for="(item,idx) in params.data.data">
                                <td>{{idx + 1}}</td>
                                <td>{{item.msisdn}}</td>
                                <td>{{item.meta_value}}</td>
                                <td>{{item.pkg_code}}</td>
                                <td>{{item.created_time}}</td>
                            </tr>

                            </tbody>
                        </table>
                        <template v-if="params.data.next_page_url !== null || params.data.prev_page_url !== null">
                            <div class="col-md-6" style="margin-top: 20px">
                                <div class="form-inline">
                                    <label class="control-label">Hiển thị </label>
                                    <select v-on:change="fetch()" v-model="search.per_page" class="form-control">
                                        <option value="10">10 hàng</option>
                                        <option value="25">25 hàng</option>
                                        <option value="50">50 hàng</option>
                                        <option value="100">100 hàng</option>
                                    </select>
                                    <label>
                                        {{showInfoPagination()}}
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <nav aria-label="Page navigation" class="pull-right">
                                    <ul class="pagination">
                                        <li v-model="params.data.prev_page_url"
                                            v-bind:class="params.data.prev_page_url === null ? 'page-item disabled' : 'page-item'">
                                            <a class="page-link" href="javascript:void(0);"
                                               v-on:click="params.data.prev_page_url !== null ? fetch(params.data.prev_page_url) : ''">
                                                <i class="fa fa-angle-double-left"></i>
                                            </a>
                                        </li>

                                        <li v-for="page in pagesNumber"
                                            :class="{'active': page == params.data.current_page}">
                                            <a href="javascript:void(0);"
                                               v-on:click="fetch(params.data.path + '?page=' +page)">{{ page }}</a>
                                        </li>

                                        <li v-model="params.data.next_page_url"
                                            v-bind:class="params.data.next_page_url === null ? 'page-item disabled' : 'page-item'">
                                            <a class="page-link" href="javascript:void(0);"
                                               v-on:click="params.data.next_page_url !== null ? fetch(params.data.next_page_url) : ''">
                                                <i class="fa fa-angle-double-right"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </template>

                    </div>
                    <div v-if="checkPromo == 'PROMO_02'">
                        <table class="vuetable table table-striped table-bordered">
                            <tbody>
                            <tr>
                                <th>STT</th>
                                <th>TB</th>
                                <th>Ngày chiến thắng</th>
                                <th>Tên Gói</th>
                                <th>Tình trạng trao thưởng</th>
                            </tr>
                            <tr v-for="(item,idx) in params.data">
                                <td>{{idx + 1}}</td>
                                <td>{{item[0].msisdn_gt}}</td>
                                <td>
                                    <div v-for="item1 in item">
                                        {{item1.msisdn}} <br>
                                    </div>
                                </td>
                                <td>
                                    <div v-for="item1 in item">
                                        {{item1.created_date}} <br>
                                    </div>
                                </td>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</template>
<script>
    var moment = require("moment");
    import HotelDatePicker from "vue-hotel-datepicker";
    import {
        ModelSelect
    } from "vue-search-select";

    export default {
        components: {
            ModelSelect,
            HotelDatePicker
        },
        data() {
            return {
                config: {
                    format: "DD-MM-YYYY",
                    useCurrent: true,
                    sideBySide: true
                },
                params: {
                    data: '',
                    packages:[],
                    total:0
                },
                search: {
                    isdn: '',
                    pkg_code:'',
                    start_date: moment().format("DD-MM-YYYY"),
                    end_date: moment().format("DD-MM-YYYY"),
                    per_page: 25
                },
                userID: window.TrucBach.user.id,
                offset: 4,
                checkPromo:''
            };
        },
        computed: {
            pagesNumber: function () {
                console.log(this.params);
                if (!this.params.data.to) {
                    return [];
                }
                var from = this.params.data.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                var to = from + this.offset * 2;
                if (to >= this.params.data.last_page) {
                    to = this.params.data.last_page;
                }
                var pagesArray = [];
                for (from; from <= to; from++) {
                    pagesArray.push(from);
                }
                return pagesArray;
            },
        },
        mounted() {
            // this.fetch();
            this.fetchPackages();
        },
        methods: {
            fetch(url) {
                if(this.search.pkg_code != ''){
                    this.checkPromo = this.search.pkg_code
                }
                url = url || '/api/ctkm/winnerCTKM';
                //
                // if (this.search.isdn.trim() === '') {
                //     this.$notify("alert", "Chưa nhập số điện thoại tra cứu!", 'error');
                //     return false;
                // }

                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    if (response.data.status.status == 'error') {
                        this.$notify("alert", response.data.status.message, response.data.status.status);
                    }

                    this.params.data = response.data.data;
                    console.log(response.data.data)

                    this.params.total = response.data.data.total

                });
            },
            fetchPackages(url) {
                url = url || "/api/ctkm/allCtkm";
                window.axios
                    .get(url)
                    .then(response => {

                        this.params.packages = response.data.data;

                    });
            },
            exportExcel: function (url) {
                url = url || '/api/export/sub-bonus';
                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    window.open( response.data.data, '_blank');
                });
            },
            showTopup(value) {
                if (value !== null) {
                    return '<i class="fa fa-check text-green"></i> Đã nạp';
                }
                return '<i class="fa fa-times-circle text-red"></i> Chưa nạp';
            },
            showStatus(value) {
                if (parseInt(value) == 1) {
                    return "Active";
                } else if (parseInt(value) == 3) {
                    return 'Unregister';
                }
                return "Pending";
            },
            showInfoPagination: function () {
                return (
                    this.params.data.from +
                    "-" +
                    this.params.data.to +
                    " trong số " +
                    this.params.data.total
                );
            },
            showTimeUnreg(value, time) {
                if (value == 1) {
                    return "";
                } else if (value == 3) {
                    return time;
                }

                return "";
            },
        }
    }
</script>
