/* Arthor hungv@aivietnam.net*/

body {background:#A8A8B7;padding-top:15px; padding-bottom:20px;}
.contain_popup {width:98%;background:#fff;margin:0 auto; box-shadow:1px 1px 3px 0px #333}
.title_containpopup {position:relative; background:#00468C;height:33px}
.title_containpopup h1 {color:#fff;line-height:32px;height:32px;padding-left:20px; font-size:13px;}
.tbl_style {width:100%;border:1pt solid #ccc;border-collapse:collapse; background:url('../images/linear3.jpg') repeat-x 0px 100%}
.tbl_style td, .tbl_style th {border:1pt solid #ccc;border-collapse:collapse;padding:5px 0px}
.tbl_style thead {color:#00468C;padding:8px 0px}
.tbl_style thead {background:url('../images/bg_th.jpg') repeat-x 0px 0px #F9FAFD !important;}
.tbl_style thead th {background:none}
.tbl_style th {background:url('../images/bg_th.jpg') repeat-x 0px 0px #F9FAFD;}
.tbl_style td span {padding:0px 5px;display:inline-block}
.mainmenu_btn {width:26px;height:32px; background:url('../images/menu_btn.jpg') no-repeat 100% center; position:absolute;right:9px;top:0px;overflow:hidden;white-space:nowrap;text-indent:1000px}
.flyout{position:absolute;width:852px;right:0px;top:30px;background:url('../images/linear.jpg') repeat-y 120px 0px #99BADF;overflow: hidden;z-index:10000;box-shadow:1px 1px 3px 0px #333}
.hidden{display:none;}
.items_menu_pagepopup {overflow:hident; height:100%}
.items_menu_pagepopup li {float:left; background:#F0F0F0;border:1pt solid #fff;border-radius:3px;margin-bottom:2px;margin-right:2px; width:230px}
.items_menu_pagepopup li  a {display:block;line-height:26px;height:26px;background:url('../images/arrow1.jpg') no-repeat 8px center; padding-left:20px}
.items_menu_pagepopup li  a:hover {background:url('../images/arrow2.jpg') no-repeat 8px center #5F93CD;color:#fff} 
.search_menuitems {border-bottom:2px solid #eee;padding:10px}
.search_menuitems .text {border:0px;background:#fff;float:left;height:25px;line-height:18px; width:200px;padding-left:10px}
.search_menuitems .btn {background:url('../images/iconsearch.jpg') no-repeat  0px center #fff;width:25px;float:left;border:0px;height:25px}
.tbl_style .icon_open {background:url('../images/icon_open.jpg') no-repeat 0px center;padding-left:20px;color:#5A9F52}
.tbl_style .icon_lock {background:url('../images/icon_lock.jpg') no-repeat 0px center;padding-left:20px;color:#CA0000}
.contain_scroll {overflow: auto;  width: 884px;}
.fillterarea {background:#DFE8F6;border:1pt solid #B8CCEB;padding:10px;margin-bottom:10px}
input.datetime {background:url('../images/bg_datetime.jpg') no-repeat 100% center;border:1pt solid #B5B8C8;height:20px;}
input.textbox {background:url('../images/bg_textbox.jpg') repeat-x 0px 0px;border:1pt solid #B5B8C8;height:20px}
select.dropdownlist {border:1pt solid #ccc; padding:1px}
.btn_search {height:22px;border:1pt solid #B5B8C8;background:url('../images/btn_search.jpg') no-repeat 5px center #FAFAFA;padding-left:20px;border-radius:4px;padding-right:10px;cursor:pointer}
.btnsearch2dong {padding:15px 20px 15px 29px; height:auto;background-position:10px center}
.btn_add {height:22px;line-height:22px;border:1pt solid #B5B8C8;background:url('../images/addnew.gif') no-repeat 5px center #FAFAFA;padding-left:20px;border-radius:4px;padding-right:10px;cursor:pointer}
.btn_delete {height:22px;line-height:22px;border:1pt solid #B5B8C8;background:url('../images/del_file.png') no-repeat 5px center #FAFAFA;padding-left:20px;border-radius:4px;padding-right:10px;cursor:pointer}
.btn_save {height:22px;line-height:22px;border:1pt solid #B5B8C8;background:url('../images/nav_save_btn.jpg') no-repeat 5px center #FAFAFA;padding-left:20px;border-radius:4px;padding-right:10px;cursor:pointer}
.btn_cancel {height:22px;line-height:22px;border:1pt solid #B5B8C8;background:url('../images/cancel.gif') no-repeat 5px center #FAFAFA;padding-left:20px;border-radius:4px;padding-right:10px;cursor:pointer}
.btn_compare {height:22px;line-height:22px;border:1pt solid #B5B8C8;background:url('../images/compare.png') no-repeat 5px center #FAFAFA;padding-left:20px;border-radius:4px;padding-right:10px;cursor:pointer}
.btn_copy {height:22px;line-height:22px;border:1pt solid #B5B8C8;background:url('../images/page_copy.png') no-repeat 5px center #FAFAFA;padding-left:20px;border-radius:4px;padding-right:10px;cursor:pointer}
.btn_huy {height:22px;line-height:18px;border:1pt solid #B5B8C8;background:url('../images/huy.png') no-repeat 5px center #FAFAFA; border-radius:4px;padding-left:20px;padding-right:10px; cursor:pointer}
.titlecheck {background:url('../images/icon_open.jpg') no-repeat 0px center; line-height:25px;height:25px;padding-left:20px}
.longkuteo {border:none;margin-top:9px}
.longkuteo td {line-height:0px;color:#fff !important; background:#fff; opacity:1;border:none}
.longkuteo td span {color:#fff !important}

.loading_updatepanel {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -20px;
}

.ServiceEmpty {
    color: red;
}



select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}


textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.boxmnl {float:left; width:120px}
.boxmnr {float:left; width:730px; }
#nav a {display:block;background:#E3EAF6; border-bottom:1pt solid #BED2EB; border-top:1pt solid #fff}
#nav a span {line-height:55px;display:block;padding-left:40px; color:##1E5B99;font-weight:bold; background:url('../images/arrow.png') no-repeat 10px center}
#nav a:hover, #nav a.selected {background:#99BADF}

#menutabs1 a {display:inline-block;line-height:27px; background:url('../images/tab_left.jpg') no-repeat 0px 0px; padding-left:20px}
#menutabs1 a span {display:inline-block;line-height:27px; background:url('../images/tab_right.jpg') no-repeat 100% 0px; padding-right:20px; color:#333}
#menutabs1 a.selected {display:inline-block;line-height:27px; background:url('../images/tab_left_active.jpg') no-repeat 0px 0px; padding-left:20px}
#menutabs1 a.selected span {display:inline-block;line-height:27px; background:url('../images/tab_right_active.jpg') no-repeat 100% 0px; padding-right:20px; color:#333}
.fillterarea fieldset {border:1pt solid #B8CCEB}
.fillterarea legend {margin-left:10px; font-weight:bold}
.paginator {margin-top:10px}
.paginator li {float:right;display:inline-block;line-height:20px;margin-left:5px}
.paginator ul {overflow:hidden;height:100%}
.paginator li a {display:inline-block;padding:0px 6px;line-height:20px;height:20px; border:1pt solid #ccc;color:#333}
.paginator li a.active {background:#1E5C9A;color:#fff}
.btnquangcao {display:inline-block;height:40px;line-height:40px;border-radius:5px;font-weight:bold;color:#fff;background:#27B5EF;padding:0px 20px}
.btnquangcao:hover {color:#fff;background:#2079D9}
#menutabs1 .icon1,#menutabs1 .icon2,#menutabs1 .icon3,#menutabs1 .icon4 {margin:7px 6px 0 -7px;float:left}
.supportarea {overflow:hidden;border:1pt solid #99BBE8;margin-bottom:10px;background:#FCECF1}
.supportarea li {display:inline-block;float:left;line-height:30px; padding-right:20px;font-weight:bold}
.supportarea .labelsp {color:#C00;padding-left:20px}
.supportarea .username {background:url('../images/icon5.png') no-repeat 0px center; padding-left:20px}
.supportarea .email {background:url('../images/icon6.png') no-repeat 10px center; padding-left:30px; border-left:1pt solid #ccc; border-right:1pt solid #ccc}
.supportarea .mobile {background:url('../images/icon7.png') no-repeat 10px center; padding-left:25px}
.tabtracuusddv {border:1pt solid #99BBE8; background:#D6E4F5;overflow:hidden;height:100%;padding:3px 0px; margin-bottom:2px}
.tabtracuusddv li {float:left;display:inline-block;margin:0px 3px}
.tabtracuusddv li a {display:block;line-height:23px;padding:0px 10px;border-radius:5px;color:#333}
.tabtracuusddv li a.select,.tabtracuusddv li a:hover {background:#1E5C9A;color:#fff}
.menuleftmdt {border:1pt solid #99BBE8; border-bottom:none; margin:8px}
.menuleftmdt li {border-bottom:1pt solid #99BBE8;}
.menuleftmdt li a {line-height:30px;height:30px; font-weight:bold;text-align:right;padding-right:10px; display:block;color:#333}
.menuleftmdt li a.active, .menuleftmdt li a:hover {background:url('../images/linear2.jpg') repeat-y 100% 0px}
.bumaduthuong .text {width:80px; text-align:center;height:22px}
.btnintbl {border:1pt solid #eee; border-radius:4px;display:inline-block;padding:2px 8px; color:#333; background:url('../images/linear3.jpg') repeat-x 0px 0px}
.btnintbl:hover {border: 1pt solid #ccc}
.btnintbl .icondk {background:url('../images/icon_open.jpg') no-repeat 0px center; padding-left:20px}
.btnintbl .iconhuy {background:url('../images/huy.png') no-repeat 0px center; padding-left:20px}
.btnintbl .iconreset {background:url('../images/icon8.png') no-repeat 0px center; padding-left:20px}