<template>
    <div>
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Thời gian thống kê</h3>
                </div>
                <div class="box-body">
                    <div class="col-md-12">
                        <form class="form-inline" v-on:submit.prevent="">
                            <!--                            <div class="form-group">-->
                            <!--                                <label>Thời gian bắt đầu</label>-->
                            <!--                                <date-picker v-model="search.start_date" :config="config"></date-picker>-->
                            <!--                            </div>-->
                            <!--                            <div class="form-group">-->
                            <!--                                <label>Thời gian kết thúc</label>-->
                            <!--                                <date-picker v-model="search.end_date" :config="config"></date-picker>-->
                            <!--                            </div>-->
                            <div class="form-group">
                                <label>Ngày theo dõi</label>
                                <date-picker v-model="search.track_date" :config="config"></date-picker>
                            </div>
                            <button @click="fetch()" type="button" class="btn btn-info"><i class="fa fa-search"></i> Tra cứu</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="headerT">1. Báo cáo doanh thu</h4>
        <div class="col-xs-12">
            <div class="box box-info">
                <!--                <div class="box-header">-->
                <!--                    <button class="btn btn-info pull-right" type="button" @click="exportExcel()" id="btnExport"><i class="fa fa-file-excel-o"></i> Export excel</button>-->
                <!--                </div>-->
                <div class="box-body table-responsive no-padding">
                    <table id="table2excel" class="table table-hover">
                        <tbody>
                        <tr>
                            <th>Giờ</th>
                            <th>Doanh thu đăng ký</th>
                            <th>Doanh thu gia hạn</th>
                            <th>Doanh thu câu hỏi</th>
                            <th>Tổng doanh thu</th>
                            <th>Doanh thu lũy kế</th>
                        </tr>
                        <tr v-for="(item, index) in params.data.data[0].data2">
                            <td><vue-numeric v-bind="numeric" :value="showpoint(item.value.hour)"></vue-numeric></td>
                            <td><vue-numeric v-bind="numeric" :value="showpoint(item.value.reg_rev)"></vue-numeric></td>
                            <td><vue-numeric v-bind="numeric" :value="showpoint(item.value.renew_rev)"></vue-numeric></td>
                            <td>{{item.value.question_rev}}</td>
                            <td><vue-numeric v-bind="numeric" :value="showpoint(item.tongDoanhThu)"></vue-numeric></td>
                            <td><vue-numeric v-bind="numeric" :value="showpoint(item.doanhThuLuyKe)"></vue-numeric></td>

                        </tr>
                        <tr class="backTotal">
                            <td>Tổng</td>
                            <td><vue-numeric v-bind="numeric" :value="showpoint(params.data.data[0].reg_rev)"></vue-numeric></td>
                            <td><vue-numeric v-bind="numeric" :value="showpoint(params.data.data[0].renew_rev)"></vue-numeric></td>
                            <td>{{params.data.data[0].question_rev}}</td>
                            <td><vue-numeric v-bind="numeric" :value="showpoint(params.data.data[0].tongDoanhThu)"></vue-numeric></td>
                            <td>#</td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <h4 class="headerT">2. Báo cáo phát triển thuê bao</h4>
        <div class="col-xs-12">
            <div class="box box-info">
                <!--                <div class="box-header">-->
                <!--                    <button class="btn btn-info pull-right" type="button" @click="exportExcel()" id="btnExport"><i class="fa fa-file-excel-o"></i> Export excel</button>-->
                <!--                </div>-->
                <div class="box-body table-responsive no-padding">
                    <table  class="table table-hover">
                        <tbody>
                        <tr>
                            <th>Giờ</th>
                            <th>Tổng số thuê bao đăng ký</th>
                            <th>Tổng số thuê bao hủy</th>
                            <th>Số thuê bao phát triển</th>
                            <th>Đăng ký qua SMS</th>
                            <th>Đăng ký qua mời</th>
                            <th>Đăng ký qua USSD</th>
                            <th>Đăng ký qua kênh khác</th>
                            <th>Hủy qua SMS</th>
                            <th>Hủy qua USSD</th>
                            <th>Hủy qua kênh khác</th>
                            <th>Tỉ lệ đăng ký (%)</th>
                        </tr>
                        <tr v-for="(item, index) in params.data.data[1].data2">
                            <td><vue-numeric v-bind="numeric" :value="showpoint(item.value.hour)"></vue-numeric></td>
                            <td><vue-numeric v-bind="numeric" :value="showpoint(item.value.total_reg)"></vue-numeric></td>
                            <td><vue-numeric v-bind="numeric" :value="showpoint(item.value.total_unreg)"></vue-numeric></td>
                            <td>{{item.value.total_reg - item.value.total_unreg}}</td>
                            <td><vue-numeric v-bind="numeric" :value="showpoint(item.value.total_reg_sms)"></vue-numeric></td>
                            <td><vue-numeric v-bind="numeric" :value="showpoint(item.value.total_reg_invite)"></vue-numeric></td>
                            <td><vue-numeric v-bind="numeric" :value="showpoint(item.value.total_reg_ussd)"></vue-numeric></td>
                            <td><vue-numeric v-bind="numeric" :value="showpoint(item.value.total_reg_other)"></vue-numeric></td>
                            <td><vue-numeric v-bind="numeric" :value="showpoint(item.value.total_unreg_sms)"></vue-numeric></td>
                            <td><vue-numeric v-bind="numeric" :value="showpoint(item.value.total_unreg_ussd)"></vue-numeric></td>
                            <td><vue-numeric v-bind="numeric" :value="showpoint(item.value.total_unreg_other)"></vue-numeric></td>
                            <td>{{item.ti_le_dk}}</td>

                        </tr>
                        <tr class="backTotal">
                            <td>Tổng</td>
                            <td><vue-numeric v-bind="numeric" :value="showpoint(params.data.data[1].total_reg)"></vue-numeric></td>
                            <td><vue-numeric v-bind="numeric" :value="showpoint(params.data.data[1].total_unreg)"></vue-numeric></td>
                            <td><vue-numeric v-bind="numeric" :value="showpoint(params.data.data[1].TBPT)"></vue-numeric></td>
                            <td><vue-numeric v-bind="numeric" :value="showpoint(params.data.data[1].total_reg_sms)"></vue-numeric></td>
                            <td><vue-numeric v-bind="numeric" :value="showpoint(params.data.data[1].total_reg_invite)"></vue-numeric></td>
                            <td><vue-numeric v-bind="numeric" :value="showpoint(params.data.data[1].total_reg_ussd)"></vue-numeric></td>
                            <td><vue-numeric v-bind="numeric" :value="showpoint(params.data.data[1].total_reg_other)"></vue-numeric></td>
                            <td><vue-numeric v-bind="numeric" :value="showpoint(params.data.data[1].total_unreg_sms)"></vue-numeric></td>
                            <td><vue-numeric v-bind="numeric" :value="showpoint(params.data.data[1].total_unreg_ussd)"></vue-numeric></td>
                            <td><vue-numeric v-bind="numeric" :value="showpoint(params.data.data[1].total_unreg_other)"></vue-numeric></td>
                            <td>{{((params.data.data[1].total_reg / params.data.data[1].accepted)*100).toFixed(3)}}</td>


                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <h4 class="headerT">3. Danh sách top 50 thuê bao dẫn đầu điểm số</h4>
        <div class="col-xs-12">
            <div class="box box-info">
                <!--                <div class="box-header">-->
                <!--                    <button class="btn btn-info pull-right" type="button" @click="exportExcel()" id="btnExport"><i class="fa fa-file-excel-o"></i> Export excel</button>-->
                <!--                </div>-->
                <div class="box-body table-responsive no-padding">
                    <table  class="table table-hover">
                        <tbody>
                        <tr>
                            <th>STT</th>
                            <th>Số điện thoại</th>
                            <th>Tổng số điểm</th>
                            <th>Thời gian dạt được</th>
                        </tr>
                        <tr v-for="(item, index) in params.data.data[2]">
                            <td>{{index + 1}}</td>
                            <td>{{item.msisdn}}</td>
                            <td>{{item.point}}</td>
                            <td>{{item.max_time}}</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</template>
<script>
    import HotelDatePicker from "vue-hotel-datepicker";
    import moment from "moment";
    export default {
        components: {
            HotelDatePicker
        },
        data() {
            return {
                params: {
                    data: '',
                    totalData:'',
                },
                search: {
                    start_date: moment().format("DD-MM-YYYY"),
                    end_date: moment().format("DD-MM-YYYY"),
                    track_date: moment().format("DD-MM-YYYY"),
                },
                config: {
                    format: "DD-MM-YYYY",
                    useCurrent: true,
                    sideBySide: true
                },
                start_date: moment().format("DD-MM-YYYY"),
                end_date: moment().format("DD-MM-YYYY"),
                track_date: moment().format("DD-MM-YYYY"),

                report_now: {
                    register: 0,
                    unregister: 0,
                    active_sub: 0,
                    recharge_amount: 0
                },
                revenue_range: {
                    amount: [],
                    percent: [],
                    summary: {
                        sum: 0,
                        percent: 0
                    }
                },
                revenue_sum: 0,
                revenue_percent: 0,
                register_range: {
                    register: [],
                    percent: [],
                    summary: {
                        distinct_isdn: 0,
                        first_reg: 0,
                        second_reg: 0,
                        total: 0
                    }
                },
                unregister_range: {
                    unregister: [],
                    percent: [],
                    summary: {
                        distinct_isdn: 0,
                        first_unreg: 0,
                        second_unreg: 0,
                        total: 0
                    }
                },
                userID: window.TrucBach.user.id,
                numeric:{
                    currency: '',
                    currencySymbolPosition:'suffix',
                    readOnly: true
                },
            };
        },
        computed: {
            pagesNumber: function () {
                if (!this.params.data.to) {
                    return [];
                }
                var from = this.params.data.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                var to = from + this.offset * 2;
                if (to >= this.params.data.last_page) {
                    to = this.params.data.last_page;
                }
                var pagesArray = [];
                for (from; from <= to; from++) {
                    pagesArray.push(from);
                }
                return pagesArray;
            }
        },
        mounted() {
            this.fetch();
        },
        methods: {
            exportExcel: function (url) {
                url = url || '/api/export/quantity/statistic-control';
                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    window.open( response.data.data, '_blank');
                });
            },
            fetch(url) {
                url = url || '/api/tool/bao-cao-tong-quan-ngay';
                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    console.log(response.data);

                    this.params.data = response.data;
                });
            },
            showpoint(value) {
                if (!value) {
                    return 0;
                }
                return value;
            },
        }
    }
</script>
<style lang="css" scoped>
    .backTotal{

        background: #269abc;
    }
    .backTotal td{
        color: #fff
    }
    .headerT{
        padding-left:30px
    }

</style>
