<template>
    <div>
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Thời gian thống kê</h3>
                </div>
                <div class="box-body">
                    <div class="col-md-12">
                        <form class="form-inline" v-on:submit.prevent="">
                            <!--                            <div class="form-group">-->
                            <!--                                <label>Thời gian bắt đầu</label>-->
                            <!--                                <date-picker v-model="search.start_date" :config="config"></date-picker>-->
                            <!--                            </div>-->
                            <!--                            <div class="form-group">-->
                            <!--                                <label>Thời gian kết thúc</label>-->
                            <!--                                <date-picker v-model="search.end_date" :config="config"></date-picker>-->
                            <!--                            </div>-->
                            <div class="form-group">
                                <label>Ngày theo dõi</label>
                                <date-picker v-model="search.track_date1" :config="config"></date-picker>
                                <date-picker v-model="search.track_date2" :config="config"></date-picker>
                            </div>
                            <button @click="fetch()" type="button" class="btn btn-info"><i class="fa fa-search"></i> Tra cứu</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="box box-info">
                <!--                <div class="box-header">-->
                <!--                    <button class="btn btn-info pull-right" type="button" @click="exportExcel()" id="btnExport"><i class="fa fa-file-excel-o"></i> Export excel</button>-->
                <!--                </div>-->
                <div class="box-body table-responsive no-padding">
                    <table id="table2excel" class="table table-hover">
                        <tbody>
                        <tr>
                            <th>Ngày</th>
                            <th>Tổng đăng ký</th>

                            <th>Bds cầu</th>
                            <th>Bds cung</th>
                            <th>Vận tải cầu</th>
                            <th>Vận tải cung</th>
                            <th>Việc làm cầu</th>
                            <th>Việc làm cung</th>

                            <th>Tổng hủy</th>
                            <th>Hủy Bds cầu</th>
                            <th>Hủy Bds cung</th>
                            <th>Hủy Vận tải cầu</th>
                            <th>Hủy Vận tải cung</th>
                            <th>Hủy Việc làm cầu</th>
                            <th>Hủy Việc làm cung</th>

<!--                            <th>Tổng thuê bao</th>-->
<!--                            <th>Tổng Bds cầu</th>-->
<!--                            <th>Tổng Bds cung</th>-->
<!--                            <th>Tổng Vận tải cầu</th>-->
<!--                            <th>Tổng Vận tải cung</th>-->
<!--                            <th>Tổng Việc làm cầu</th>-->
<!--                            <th>Tổng Việc làm cung</th>-->

                        </tr>
                        <tr v-for="item in params.data.data.data2">
                            <td>{{item.value.created_date}}</td>
                            <td>{{item.value.tong_dang_ky}}</td>

                            <td>{{item.value.bdscau}}</td>
                            <td>{{item.value.bdscung}}</td>
                            <td>{{item.value.vantaicau}}</td>
                            <td>{{item.value.vantaicung}}</td>
                            <td>{{item.value.vieclamcau}}</td>
                            <td>{{item.value.vieclamcung}}</td>

                            <td>{{item.value.tong_huy}}</td>
                            <td>{{item.value.huy_bdscau}}</td>
                            <td>{{item.value.huy_bdscung}}</td>
                            <td>{{item.value.huy_vantaicau}}</td>
                            <td>{{item.value.huy_vantaicung}}</td>
                            <td>{{item.value.huy_vieclamcau}}</td>
                            <td>{{item.value.huy_vieclamcung}}</td>

<!--                            <td>{{item.tong_thue_bao}}</td>-->
<!--                            <td>{{item.total_bdscau}}</td>-->
<!--                            <td>{{item.total_bdscung}}</td>-->
<!--                            <td>{{item.total_vantaicau}}</td>-->
<!--                            <td>{{item.total_vantaicung}}</td>-->
<!--                            <td>{{item.total_vieclamcau}}</td>-->
<!--                            <td>{{item.total_vieclamcung}}</td>-->
                        </tr>
<!--                        <tr class="backTotal">-->
<!--                            <td>Tổng</td>-->
<!--                            <td>{{params.data.data.sl}}</td>-->
<!--                            <td>{{params.data.data.total}}</td>-->
<!--                            <td>{{((params.data.data.sl/params.data.data.total)*100).toFixed(2)}} %</td>-->


<!--                        </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</template>
<script>
    import HotelDatePicker from "vue-hotel-datepicker";
    import moment from "moment";
    export default {
        components: {
            HotelDatePicker
        },
        data() {
            return {
                params: {
                    data: '',
                    totalData:'',
                },
                search: {
                    // start_date: moment().format("DD-MM-YYYY"),
                    // end_date: moment().format("DD-MM-YYYY"),
                    track_date1: moment().format("DD-MM-YYYY"),
                    track_date2: moment().format("DD-MM-YYYY"),
                },
                config: {
                    format: "DD-MM-YYYY",
                    useCurrent: true,
                    sideBySide: true
                },
                // start_date: moment().format("DD-MM-YYYY"),
                // end_date: moment().format("DD-MM-YYYY"),
                track_date1: moment().format("DD-MM-YYYY"),
                track_date2: moment().format("DD-MM-YYYY"),

                report_now: {
                    register: 0,
                    unregister: 0,
                    active_sub: 0,
                    recharge_amount: 0
                },
                revenue_range: {
                    amount: [],
                    percent: [],
                    summary: {
                        sum: 0,
                        percent: 0
                    }
                },
                revenue_sum: 0,
                revenue_percent: 0,
                register_range: {
                    register: [],
                    percent: [],
                    summary: {
                        distinct_isdn: 0,
                        first_reg: 0,
                        second_reg: 0,
                        total: 0
                    }
                },
                unregister_range: {
                    unregister: [],
                    percent: [],
                    summary: {
                        distinct_isdn: 0,
                        first_unreg: 0,
                        second_unreg: 0,
                        total: 0
                    }
                },
                userID: window.TrucBach.user.id,
                numeric:{
                    currency: '',
                    currencySymbolPosition:'suffix',
                    readOnly: true
                },
            };
        },
        computed: {
            pagesNumber: function () {
                if (!this.params.data.to) {
                    return [];
                }
                var from = this.params.data.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                var to = from + this.offset * 2;
                if (to >= this.params.data.last_page) {
                    to = this.params.data.last_page;
                }
                var pagesArray = [];
                for (from; from <= to; from++) {
                    pagesArray.push(from);
                }
                return pagesArray;
            }
        },
        mounted() {
            this.fetch();
        },
        methods: {
            exportExcel: function (url) {
                url = url || '/api/export/quantity/statistic-control';
                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    window.open( response.data.data, '_blank');
                });
            },
            fetch(url) {
                console.log('vaa')
                url = url || '/api/tool/theo-doi-san-luong-dang-ki-theo-ngay';
                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    console.log(response.data);

                    this.params.data = response.data;
                });
            },
            showpoint(value) {
                if (!value) {
                    return 0;
                }
                return value;
            },
        }
    }
</script>
<style lang="css" scoped>
    .backTotal{

        background: #269abc;
    }
    .backTotal td{
        color: #fff
    }

</style>
