<template>
  <div class="card">
    <div class="card-block">
      <div class="row list-media">
        <div class="col-md-8 edit-item" ref="list_media">
          <div class="row">
            <div class="col-md-12">
              <form @submit.stop.prevent="fetch('/api/media')">
                <div class="form-group row">
                  <div class="col-md-2">
                    <input v-model="search_name" type="text" class="form-control"
                    ></input>
                  </div>
                  <div class="col-md-2">
                    <select class="form-control" v-model="search_type">
                      <option v-for="item in media_type" v-bind:value="item.value">{{ item.text
                        }}
                      </option>
                    </select>
                  </div>
                  <div class="col-md-2">
                    <button class="btn btn-outline-primary" type="submit">
                      <i class="fa fa-search"></i>Tìm kiếm
                    </button>
                  </div>
                  <div class="col-md-2">
                    <button class="btn btn-outline-danger"
                            v-on:click="$root.$emit('show::modal','modal-upload-media')">
                      <i class="fa fa-cloud-upload"></i> Upload
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="row">
            <div v-for="(item, idx) in pagination.data" class="text-center item-media col-md-3">
              <img :title="item.alt" :alt="item.alt" v-bind:src="item.thumbnail ? item.thumbnail : '/img/placeholder_640x360.jpg'" v-model="pagination.data[idx]"
                   v-bind:class="hasSelect(item) !== -1 ? 'img-fluid item-selected' : 'img-fluid'"
                   v-on:click="selectImage(item, $event)"/>

              <template v-if="item.media_type === 'video'">
                                <span class="play-icon">
                                    <i class="fa fa-4x fa-play-circle-o"></i>
                                </span>
              </template>
              <button v-if="hasSelect(item) !== -1" type="button" class="button-link check" tabindex="0"
                      v-model="pagination.data[idx]" v-on:click="selectImage(item, $event)">
                                <span class="media-icon">
                                    <i ref="checkIcon" class="fa fa-check" style="color: #fff !important;"></i>
                                </span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-4 edit-item" ref="edit-item">
          <div class="row">
            <div class="col-md-12">
              <h5 class="text-center">THÔNG TIN CHI TIẾT</h5>
            </div>
            <div class="col-md-12">
              <div class="row">
                <div class="col-md-12">
                  <template v-if="editMedia.media_type === 'image'">
                    <img v-bind:src="this.getImageBySize(editMedia.file_url, '640x360')"
                         class="img-fluid"/>
                  </template>
                  <template v-else-if="editMedia.media_type === 'video'">
                    <div class="embed-responsive embed-responsive-16by9">
                      <video controls autoplay
                             v-bind:poster="this.getImageBySize(editMedia.file_url, '640x360')"
                             id="index-video" class="embed-responsive-item">
                        <source v-bind:src="editMedia.file_url" type="video/mp4">
                      </video>
                    </div>
                  </template>
                  <template v-else>
                    <img src="/img/placeholder_640x360.jpg" class="img-fluid"/>
                  </template>
                  <!--<button class="btn btn-block btn-info" v-on:click="openModalWM"><i-->
                  <!--class="fa fa-copyright"></i> Đóng logo vào ảnh-->
                  <!--</button>-->
                </div>
                <template>
                  <div class="col-md-3 text-center">
                    <i class="fa fa-television"></i>
                    <br/>
                    <small>{{ editMedia.width ? editMedia.width + 'x' + editMedia.height : '' }}
                    </small>
                  </div>
                  <div class="col-md-3 text-center">
                    <i class="fa fa-info"></i>
                    <br/>
                    <small>{{ this.humanFileSize(editMedia.file_size) }}</small>
                  </div>
                  <div class="col-md-4 text-center">
                    <i class="fa fa-calendar-check-o"></i>
                    <br/>
                    <small>{{ editMedia.created_at }}</small>
                  </div>
                  <div class="col-md-2 text-center">
                    <i class="fa fa-user"></i>
                    <br/>
                    <small>{{ editMedia.user_name }}</small>
                  </div>
                </template>
              </div>
            </div>
            <div class="col-md-12">
              <hr>
              <form class="form-horizontal" @submit.stop.prevent="updateMedia">
                <div class="form-group row">
                  <label class="col-md-3 form-control-label" for="hf-name">Tiêu đề</label>
                  <div class="col-md-9">
                    <input type="text" v-model="editMedia.name" id="hf-name" name="hf-name"
                           class="form-control" placeholder="Tiêu đề ảnh..">
                  </div>
                </div>

                <div v-if="editMedia.media_type === 'video'" class="form-group row">
                  <label class="col-md-3 form-control-label" for="hf-alt">Ảnh Poster</label>
                  <div class="col-md-9">
                    <input type="text" v-model="editMedia.thumbnail" id="img_poster" name="img_poster"
                           class="form-control" placeholder="Ảnh poster..">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-control-label" for="hf-alt">Thẻ alt</label>
                  <div class="col-md-9">
                    <input type="text" v-model="editMedia.alt" id="hf-alt" name="hf-alt"
                           class="form-control" placeholder="Thẻ alt ảnh..">
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 form-control-label" for="hf-caption">Mô tả</label>
                  <div class="col-md-9">
                    <input type="text" v-model="editMedia.caption" id="hf-caption" name="hf-caption"
                           class="form-control" placeholder="Mô tả về ảnh..">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="row">
        <div class="col-md-8">
          <div class="row">
            <div class="col-md-5">
              <a class="btn btn-outline-warning" href="#" v-on:click="removeSelection()">
                <i class="fa fa-trash"></i> Bỏ chọn</a>
              <a class="btn btn-outline-danger" href="#" v-on:click="deleteSelection()">
                <i class="fa fa-trash"></i> Xóa vĩnh viễn</a>
            </div>
            <div class="col-md-7 pull-right">
              <nav aria-label="Page navigation" class="pull-right">
                <ul class="pagination">
                  <li v-model="pagination.prev_page_url"
                      v-bind:class="pagination.prev_page_url === null ? 'page-item disabled' : 'page-item'">
                    <a class="page-link" href="#prev" v-on:click="fetch(pagination.prev_page_url)">
                      <i class="fa fa-angle-double-left"></i> Trang trước
                    </a>
                  </li>

                  <li v-for="page in pagesNumber" :class="{'active': page == pagination.current_page}">
                    <a class="page-link" href="#" v-on:click="fetchPagination(page)">{{ page }}</a>
                  </li>

                  <li v-model="pagination.next_page_url"
                      v-bind:class="pagination.next_page_url === null ? 'page-item disabled' : 'page-item'">
                    <a class="page-link" href="#next" v-on:click="fetch(pagination.next_page_url)">
                      Trang sau
                      <i class="fa fa-angle-double-right"></i>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-6">
              <div class="pull-right">
                <button class="btn btn-outline-danger" v-on:click="updateMedia()">
                  <i class="fa fa-save"></i> Cập nhật
                </button>
              </div>
            </div>
            <div class="col-md-6">
              <div class="pull-right">
                <template v-if="select_thumbnail !== ''">
                  <button class="btn btn-outline-info pull-right" @click="selectMedia">
                    Chọn ảnh
                    <i class="fa fa-angle-double-right"></i>
                  </button>
                </template>
                <template v-else>
                  <button class="pull-right btn btn-outline-success" @click="selectMedia">
                    Chọn ảnh
                    <i class="fa fa-angle-double-right"></i>
                  </button>
                </template>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
     Modal Upload Media
    <b-modal id="modal-upload-media" title="Tải lên thư viện" size="lg" @shown="clearFileArea"
    @ok="fetch('/api/media')">
    <dropzone id="vueDropzone" ref="vueDropzone" url="/api/media" :headers="custom_headers" :thumbnailHeight=120
    :thumbnailWidth=120 :useFontAwesome=true :maxNumberOfFiles=20 :maxFileSizeInMB=128 :timeout=300000
    :resizeWidth=1024 :acceptedFileTypes="'image/*,video/mp4'">
    </dropzone>
    <span class="text-danger">
    <i class="fa fa-info"></i> Chỉ cho phép upload các định dạng sau: Ảnh: (png, jpg, jpeg). Video (mp4)
    </span>
    </b-modal>
  </div>
</template>

<script>
    import Dropzone from 'vue2-dropzone';

    export default {
        props: {
            select_thumbnail: {
                // required: false,
                // type: Boolean
            },
            is_modal: {
                required: false,
                type: Boolean
            }
        },
        components: {
            Dropzone
        },
        data() {
            return {
                media: {},
                pagination: '',
                search_name: window.search_name || '',
                search_title: window.search_title || '',
                search_date: '',
                search_type: '',
                media_type: [
                    { text: 'Vui lòng chọn', value: '' },
                    { text: 'Ảnh', value: 'image' },
                    { text: 'Video', value: 'video' }
                ],
                userID: window.TrucBach.user.id,
                selectedImage: [],
                editMedia: {},
                closeLogo:{
                    location:'upperLeft',
                    url_logo:'/img/closelogo.png',
                    url_image: ''
                },
                offset: 2,
                categories:'',
                category_id: ''
            }
        },

        computed: {
            pagesNumber: function () {
                if (!this.pagination.to) {
                    return [];
                }
                var from = this.pagination.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                var to = from + this.offset * 2;
                if (to >= this.pagination.last_page) {
                    to = this.pagination.last_page;
                }
                var pagesArray = [];
                for (from ; from < to; from++) {
                    pagesArray.push(from);
                }
                return pagesArray;
            }
        },

        mounted() {
            // this.fetch('/api/media');
            // this.fetchCategory('/api/list-category');
        },
        methods: {
            openUploadMedia: function () {
                // window.axios.get('/api/set-session/' + (this.category_id === '' ? 'no' : this.category_id)).then();
                this.$root.$emit('show::modal', 'modal-upload-media');
            },
            fetchCategory: function (url) {
                window.axios.get(url).then(response => this.categories = response.data.data)
            },
            viewImage: function () {
                this.closeLogo.url_image = this.editMedia.file_url;
                if(this.closeLogo.location == 'upperLeft'){
                    watermarkjs([this.closeLogo.url_image, this.closeLogo.url_logo])
                        .image(watermarkjs.image.upperLeft())
                        .then(function (img) {
                            document.getElementById('composite-image').innerHTML = '';
                            document.getElementById('composite-image').appendChild(img);
                        });
                }
                if(this.closeLogo.location == 'upperRight'){
                    watermarkjs([this.closeLogo.url_image, this.closeLogo.url_logo])
                        .image(watermarkjs.image.upperRight())
                        .then(function (img) {
                            document.getElementById('composite-image').innerHTML = '';
                            document.getElementById('composite-image').appendChild(img);
                        });
                }
                if(this.closeLogo.location == 'lowerLeft'){
                    watermarkjs([this.closeLogo.url_image, this.closeLogo.url_logo])
                        .image(watermarkjs.image.lowerLeft())
                        .then(function (img) {
                            document.getElementById('composite-image').innerHTML = '';
                            document.getElementById('composite-image').appendChild(img);
                        });
                }
                if(this.closeLogo.location == 'lowerRight'){
                    watermarkjs([this.closeLogo.url_image, this.closeLogo.url_logo])
                        .image(watermarkjs.image.lowerRight())
                        .then(function (img) {
                            document.getElementById('composite-image').innerHTML = '';
                            document.getElementById('composite-image').appendChild(img);
                        });
                }
                if(this.closeLogo.location == 'center'){
                    watermarkjs([this.closeLogo.url_image, this.closeLogo.url_logo])
                        .image(watermarkjs.image.center())
                        .then(function (img) {
                            document.getElementById('composite-image').innerHTML = '';
                            document.getElementById('composite-image').appendChild(img);
                        });
                }

            },
            createImageCloseLogo: function () {
//                this.$swal({
//                    title: "Bạn muốn đóng logo ?",
//                    text: "",
//                    type: "warning",
//                    showCancelButton: true,
//                    confirmButtonColor: "#DD6B55",
//                    confirmButtonText: "Đóng logo",
//                    closeOnConfirm: false
//                }).then(function () {
                this.closeLogo.url_image = this.editMedia.file_url;
                window.axios.post('/api/mediacloselogo', {
                    data: {
                        location: this.closeLogo.location,
                        url_logo: this.closeLogo.url_logo,
                        url_image: this.closeLogo.url_image
                    }
                }).then(response => {
                    this.fetch('/api/media');
                    this.editMedia = response.data.data;
                    this.selectedImage = [];
                    this.selectedImage.push(response.data.data)
                    this.$root.$emit('hide::modal','modal-water-mark');
                    this.$root.$emit('hide::modal', 'manage_media')
                    this.$root.$emit('show::modal', 'manage_media')
                });
//                }.bind(this));
            },
            removeSelection: function () {
                this.selectedImage = [];
            },
            deleteSelection: function () {
                this.$swal({
                    title: "Bạn chắc chắn muốn xóa ?",
                    text: "Sẽ không khôi phục lại được !",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Xóa",
                    closeOnConfirm: false
                }).then(function () {
                    this.closeLogo.url_image = this.editMedia.file_url;
                    window.axios.post('/api/delete/media', {
                        data: {
                            selectedImage: this.selectedImage
                        }
                    }).then(response => {
                        this.fetch('/api/media');
                        this.removeSelection();
                        this.$root.$emit('hide::modal', 'manage_media');
                        this.$root.$emit('show::modal', 'manage_media');
                    });
                }.bind(this));
            },
            humanFileSize: function (file_size) {
                if (file_size == null) {
                    return '0B';
                }
                var i = Math.floor(Math.log(file_size) / Math.log(1024));
                return (file_size / Math.pow(1024, i)).toFixed(2) * 1 + ' ' + ['B', 'kB', 'MB', 'GB', 'TB'][i];
            },
            getImageBySize: function (file_url, size) {
                if (!file_url) {
                    return '/img/placeholder_640x480.jpg';
                }
                if (file_url.indexOf('mp4') !== -1) {
                    file_url.replace('mp4', 'png');
                }
                let tmp = file_url.split('.');
                return tmp[0] + '-' + size + '.png';
                // return file_url.replace('.', '-' + size + '.');
            },
            fetch: function (url) {
                window.axios.get(url, {
                    params: {
                        name: this.search_name,
                        search_title: this.search_title,
                        // date: this.search_date,
                        // media_type: this.search_type,
                        category_id: this.category_id
                    }
                }).then(response => {
                    this.pagination = response.data
                }).catch(error => {
                    if (error.response) {
                        console.log(error.response.data);
                    }
                });
            },
            fetchPagination:function (page) {
                this.fetch('/api/media?page=' + page);
            },
            clearFileArea: function () {
                this.$refs.vueDropzone.removeAllFiles();
            },
            hasSelect: function (item) {
                return this.selectedImage.indexOf(item);
            },
            selectImage: function (item, event) {
                // if (event.shiftKey && this.select_thumbnail === false) {
                if (this.select_thumbnail !== 'avatar') {
                    // if (this.select_thumbnail === false) {
                    // multi select image
                    let index = this.hasSelect(item);
                    if (index !== -1) {
                        this.selectedImage.splice(index, 1);
                    } else {
                        this.selectedImage.push(item);
                        this.editMedia = item;
                    }
                } else {
                    // select 1 image. show edit form
                    this.selectedFile = [];
                    let index = this.hasSelect(item);
                    if (index !== -1) {
                        this.selectedImage.splice(index, 1);
                        this.editMedia = {};
                    } else {
                        this.selectedImage = [item];
                        this.editMedia = item;
                    }
                }
            },
            updateMedia: function () {
                window.axios.put('/api/media/' + this.editMedia.id, {
                    data: {
                        name: this.editMedia.name,
                        alt: this.editMedia.alt,
                        caption: this.editMedia.caption,
                        link: this.editMedia.link
                    }
                }).then(response => {
                    if (response.error !== 200 || response.data.error) {
                        console.log(response.error);
                    }
                });
            },
            updatePaginationUrl: function (uri, key, value) {
                var re = new RegExp("([?&])" + key + "=[^&]*", "i");
                return re.test(uri)
                    ? uri.replace(re, '$1' + key + "=" + value)
                    : uri + separator + key + "=" + value;
            },
            selectMedia: function () {
                if (this.select_thumbnail === "thumbnail") {
                    this.$root.$emit('thumbnail', this.selectedImage);
                } else if (this.select_thumbnail === "description") {
                    this.$root.$emit('description', this.selectedImage);
                }else if (this.select_thumbnail === "guide_use") {
                    this.$root.$emit('guide_use', this.selectedImage);
                }else if (this.select_thumbnail === "insertMedia") {
                    this.$root.$emit('insertMedia', this.selectedImage);
                }else if (this.select_thumbnail === "imageAds") {
                    this.$root.$emit('imageAds', this.selectedImage[0]);
                }else {
                    this.$root.$emit('pickThumbnail', this.selectedImage[0]);
                }
            },
            openModalWM: function(){
                document.getElementById('composite-image').innerHTML = '';
                let src = this.getImageBySize(this.editMedia.file_url, "640x360");
                document.getElementById('composite-image').innerHTML = '<img src='+src+' />';
                this.$root.$emit('show::modal', 'modal-water-mark');
            }
        }
    }
</script>
<style>
  .card-footer ul li {
    display: inline-block;
    padding: 0px;
    text-align: center;
  }
  #composite-image img{
    max-width: 480px;
    height: auto;
  }
  .play-icon {
    position: absolute;
    top: 15%;
    left: 40%;
    color: #fff;
  }

  .text-sm {
    font-size: 12px;
  }

  @media (min-width: 1366px) {
    .list-media {
      height: 400px !important;
    }
  }

  @media (min-width: 1600px) {
    .list-media {
      height: 500px !important;
    }
  }

  /* @media (min-width: 1920px) {
      .list-media {
          height: 570px !important;
      }
  }

  @media (max-width: 2550px){
      .list-media {
          height: 710px !important;
      }
  } */

  .bg-secondary {
    background: #dfdfdf;
  }

  .dz-message {
    font-size: 30px;
  }

  .edit-item {
    overflow-y: scroll;
    height:400px;
  }

</style>
