<template>
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Lựa chọn thời gian thống kê</h3>
            </div>
            <div class="box-body">
                <div class="col-md-12">
                    <form class="form-inline" v-on:submit.prevent="">
                        <div class="form-group">
                            <label>Thời gian bắt đầu</label>
                            <date-picker v-model="search.start_date" :config="config"></date-picker>
                        </div>
                        <div class="form-group">
                            <label>Thời gian kết thúc</label>
                            <date-picker v-model="search.end_date" :config="config"></date-picker>
                        </div>
                        <button @click="fetch()" type="button" class="btn btn-info"><i class="fa fa-search"></i> Tra cứu</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Đồ thị thuê bao</h3>
            </div>
            <div class="box-body">
                <line-chart thousands="," :data="chartDataSub"></line-chart>
            </div>
        </div>
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Đồ thị doanh thu</h3>
            </div>
            <div class="box-body">
                <line-chart thousands="," :data="chartDataDT"></line-chart>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Đồ thị đăng ký theo loại</h3>
                    </div>
                    <div class="box-body">
                        <pie-chart thousands="," :data="chartDataDK"></pie-chart>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Đồ thị doanh thu theo loại</h3>
                    </div>
                    <div class="box-body">
                        <pie-chart thousands="," :data="chartPieDataDT"></pie-chart>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Đồ thị đăng ký theo giờ</h3>
                    </div>
                    <div class="box-body">
                        <line-chart thousands="," :data="chartDataDKHourly"></line-chart>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Đồ thị doanh thu theo giờ</h3>
                    </div>
                    <div class="box-body">
                        <line-chart thousands="," :data="chartDataDTHourly"></line-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import HotelDatePicker from "vue-hotel-datepicker";
    import VueCharts from 'vue-chartjs';
    import moment from "moment";
    export default {
        components: {
            HotelDatePicker,
            VueCharts
        },
        data() {
            return {
                chartDataSub:null,
                chartDataDK:null,
                chartDataDT:null,
                chartPieDataDT:null,
                chartDataDKHourly:null,
                chartDataDTHourly:null,
                params: {
                    data: '',
                },
                search: {
                    start_date: moment().subtract(6, "days").format("DD-MM-YYYY"),
                    end_date: moment().format("DD-MM-YYYY"),
                },
                config: {
                    format: "DD-MM-YYYY",
                    useCurrent: true,
                    sideBySide: true
                },
                userID: window.TrucBach.user.id
            };
        },
        computed: {

        },
        mounted() {
            this.fetch();
        },
        methods: {
            fetch(url) {
                url = url || '/api/home/chart';
                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    //this.params.data = response.data;
                    console.log($.parseJSON(response.data.chartsub));
                    this.chartDataSub = $.parseJSON(response.data.chartsub);
                    this.chartDataDK = $.parseJSON(response.data.chartdk);
                    this.chartDataHuyDK = $.parseJSON(response.data.charthuydk);
                    this.chartDataDT = $.parseJSON(response.data.chartdt);
                    this.chartPieDataDT = $.parseJSON(response.data.chartpiedt);
                    this.chartDataDKHourly = $.parseJSON(response.data.chartdkhourly);
                    this.chartDataDTHourly = $.parseJSON(response.data.chartdthourly);
                });
            },
        }
    }
</script>
