<template>
    <div class="row">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Cấu hình web</h3>
            </div>
            <div class="form-horizontal">
                <div class="col-md-12">
                    <br>
                    <div class="form-group">
                        <label for="job_title" class="col-sm-3 control-label">Tiêu đề trang</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="job_title" v-model="setting.sitetitle">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="job_title" class="col-sm-3 control-label">Mô tả trang</label>
                        <div class="col-sm-9">
                             <textarea type="text" class="form-control" placeholder="Mô tả" rows="5"
                                       v-model="setting.sitedescription"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="job_title" class="col-sm-3 control-label">Keyword trang</label>
                        <div class="col-sm-9">
                             <textarea type="text" class="form-control" placeholder="Mô tả" rows="5"
                                       v-model="setting.sitekeywords"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="job_title" class="col-sm-3 control-label">Page Facebook</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="job_title" v-model="setting.facebookpage">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="job_title" class="col-sm-3 control-label">Skype</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="job_title" v-model="setting.skypepage">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="job_title" class="col-sm-3 control-label">Youtube Channel</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="job_title" v-model="setting.yt_channel">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="job_title" class="col-sm-3 control-label">Google Page Channel</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="job_title" v-model="setting.googlepage">
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-horizontal">
                <div class="col-md-10">
                    <div class="form-group text-center">
                        <button @click="onSubmit()" type="button" class="btn btn-danger center">Lưu cấu hình</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</template>

<script>
    window.$ = window.jQuery = require("jquery");
    import {
        ModelSelect
    } from "vue-search-select";

    export default {
        components: {
            ModelSelect
        },

        data() {
            return {
                params: {
                    data: ""
                },
                search: {
                    name: "",
                    per_page: 10
                },
                setting: {
                    sitetitle: '',
                    sitedescription: '',
                    sitekeywords: '',
                    facebookpage: '',
                    skypepage: '',
                    yt_channel: '',
                    googlepage: ''
                },
                userID: window.TrucBach.user.id
            };
        },
        computed: {},
        mounted() {
            this.fetch();
        },
        methods: {
            fetch(url) {
                url = url || "/api/setting";
                window.axios
                    .get(url, {
                        params: this.search
                    })
                    .then(response => {
                        this.setting = response.data.data;
                    });
            },
            onSubmit: function () {
                window
                    .axios({
                        method: "put",
                        url: "/api/setting/update",
                        data: this.setting
                    })
                    .then(response => {
                        this.$notify("alert", response.data.message, response.data.status);
                        if (response.data.status == "success") {
                            this.setNullLevel();
                            if (!this.level.id) {
                                this.fetch();
                            }
                        }
                    })
                    .catch(error => {
                        if (error.response && error.response.status == 422) {
                            let errMsg = error.response.data;
                            this.$notify("alert", errMsg.message, "error");
                        }
                    });
            }
        }
    };
</script>
