<template>
    <div>
        <div class="col-md-12">
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Thời gian thống kê</h3>
                </div>
                <div class="box-body">
                    <div class="col-md-12">
                        <form class="form-inline" v-on:submit.prevent="">
                            <div class="form-group">
                                <label>Thời gian bắt đầu</label> <span class="inputDate">{{search.track_date}}</span>
<!--                                <date-picker v-model="search.track_date" :config="config" disable></date-picker>-->
                            </div>
                            <div class="form-group">
                                <label>Thời gian kết thúc</label>
                                <date-picker v-model="search.end_date" :config="config"></date-picker>
                            </div>
                            <div class="form-group">
                                <label>Ngày theo dõi</label>
                                <date-picker v-model="search.track_date" :config="config"></date-picker>
                            </div>
                            <button @click="fetch()" type="button" class="btn btn-info"><i class="fa fa-search"></i> Tra cứu</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <div class="box box-info">
<!--                <div class="box-header">-->
<!--                    <button class="btn btn-info pull-right" type="button" @click="exportExcel()" id="btnExport"><i class="fa fa-file-excel-o"></i> Export excel</button>-->
<!--                </div>-->
                <div class="box-body table-responsive no-padding">
                    <table id="table2excel" class="table table-hover">
                        <tbody>
                        <tr>
                            <th>Ngày Charge</th>
                            <th>Ngày theo dõi</th>
                            <th>Tổng đăng kí</th>
                            <th>Thuê bao hủy</th>
                            <th>Thuê bao Charge</th>
                            <th>Thuê bao Active</th>
                            <th>Tỉ lệ Charge(%)</th>
                            <th>Tổng thuê bao Active hiện tại</th>


                        </tr>
                        <tr v-for="item in params.data.data">
                            <td>{{item.value.ngay_charge}}</td>
                            <td>{{item.value.ngay_theo_doi}}</td>
                            <td>{{item.value.tong_dang_ki}}</td>
                            <td>{{item.value.thue_bao_huy}}</td>

                            <td>{{item.value.thue_bao_charge}}</td>
                            <td>{{item.active}}</td>
                            <td>{{item.tile }} %</td>

                            <td>{{item.value.tong_active}}</td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


</template>
<script>
    import HotelDatePicker from "vue-hotel-datepicker";
    import moment from "moment";
    export default {
        components: {
            HotelDatePicker
        },
        data() {
            return {
                params: {
                    data: '',
                },
                search: {
                    // start_date: moment().format("DD-MM-YYYY"),
                    end_date: moment().format("DD-MM-YYYY"),
                    track_date: moment().format("DD-MM-YYYY"),
                },
                config: {
                    format: "DD-MM-YYYY",
                    useCurrent: true,
                    sideBySide: true
                },
                // start_date: moment().format("DD-MM-YYYY"),
                end_date: moment().format("DD-MM-YYYY"),
                track_date: moment().format("DD-MM-YYYY"),

                report_now: {
                    register: 0,
                    unregister: 0,
                    active_sub: 0,
                    recharge_amount: 0
                },
                revenue_range: {
                    amount: [],
                    percent: [],
                    summary: {
                        sum: 0,
                        percent: 0
                    }
                },
                revenue_sum: 0,
                revenue_percent: 0,
                register_range: {
                    register: [],
                    percent: [],
                    summary: {
                        distinct_isdn: 0,
                        first_reg: 0,
                        second_reg: 0,
                        total: 0
                    }
                },
                unregister_range: {
                    unregister: [],
                    percent: [],
                    summary: {
                        distinct_isdn: 0,
                        first_unreg: 0,
                        second_unreg: 0,
                        total: 0
                    }
                },
                userID: window.TrucBach.user.id,
                numeric:{
                    currency: '',
                    currencySymbolPosition:'suffix',
                    readOnly: true
                },
            };
        },
        computed: {
            pagesNumber: function () {
                if (!this.params.data.to) {
                    return [];
                }
                var from = this.params.data.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                var to = from + this.offset * 2;
                if (to >= this.params.data.last_page) {
                    to = this.params.data.last_page;
                }
                var pagesArray = [];
                for (from; from <= to; from++) {
                    pagesArray.push(from);
                }
                return pagesArray;
            }
        },
        mounted() {
            this.fetch();
        },
        methods: {
            exportExcel: function (url) {
                url = url || '/api/export/quantity/statistic-control';
                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    window.open( response.data.data, '_blank');
                });
            },
            fetch(url) {
                url = url || '/api/quantity/statistic-charge';
                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    console.log(response.data);
                    this.params.data = response.data;
                });
            },
            showpoint(value) {
                if (!value) {
                    return 0;
                }
                return value;
            },
        }
    }
</script>
<style lang="css" scoped>
    .inputDate{
        height: 34px;
        padding: 8px 12px;
        padding-right: 93px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        background-image: none;
        border: 1px solid #ccc;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
        background: #ccc;
    }

</style>
