<template>
   <div>
       <!--<div class="col-lg-3 col-xs-6">
           <div class="small-box bg-yellow">
               <div class="inner">
                   <h3>100000</h3>
                   <p>Số thuê bao đang hoạt động</p>
               </div>
               <div class="icon">
                   <i class="fa fa-bar-chart"></i>
               </div>
           </div>
       </div>
       <div class="col-lg-3 col-xs-6">
           <div class="small-box bg-aqua">
               <div class="inner">
                   <h3>1000</h3>

                   <p>Đăng ký mới trong ngày</p>
               </div>
               <div class="icon">
                   <i class="fa fa-user-plus"></i>
               </div>
           </div>
       </div>
       <div class="col-lg-3 col-xs-6">
           <div class="small-box bg-green">
               <div class="inner">
                   <h3>10000</h3>

                   <p>Hủy trong ngày</p>
               </div>
               <div class="icon">
                   <i class="fa fa-user-times"></i>
               </div>
           </div>
       </div>
       <div class="col-lg-3 col-xs-6">
           <div class="small-box bg-red">
               <div class="inner">
                   <h3>9000000</h3>
                   <p>Doanh thu trong ngày</p>
               </div>
               <div class="icon">
                   <i class="fa fa-money"></i>
               </div>
           </div>
       </div>-->
       <div class="col-md-12">
           <div class="box box-info">
               <div class="box-header with-border">
                   <h3 class="box-title">Thời gian thống kê</h3>
               </div>
               <div class="box-body">
                   <div class="col-md-12">
                       <form class="form-inline" v-on:submit.prevent="">
                           <div class="form-group">
                               <label>Thời gian bắt đầu</label>
                               <date-picker v-model="search.start_date" :config="config"></date-picker>
                           </div>
                           <div class="form-group">
                               <label>Thời gian kết thúc</label>
                               <date-picker v-model="search.end_date" :config="config"></date-picker>
                           </div>
                           <button @click="fetch()" type="button" class="btn btn-info"><i class="fa fa-search"></i> Tra cứu</button>
                       </form>
                   </div>
               </div>
           </div>
       </div>
       <!--<div class="col-md-12">
           <div class="box box-success">
               <div class="box-header with-border">
                   <i class="fa fa-th"></i>
                   <h3 class="box-title">
                       Số lượng đăng ký dịch vụ
                       <template v-if="start_date === end_date">
                           trong ngày theo giờ
                       </template>
                       <template v-else>
                           theo ngày
                       </template>
                   </h3>
               </div>
               <div class="box-body border-radius-none">
                   <div class="row">
                       <div class="col-md-8">
                           <line-chart :data="register_range.register"></line-chart>
                       </div>
                       <div class="col-md-4">
                           <h4 class="text-center">Tỉ trọng đăng ký mới theo dịch vụ</h4>
                           <pie-chart :data="register_range.percent" :donut="true"></pie-chart>
                       </div>
                   </div>
               </div>
               <div class="box-footer">
                   <div class="row">
                       <div class="col-sm-3 col-xs-6">
                           <div class="description-block border-right">
                               <h5 class="description-header">{{ register_range.summary.total }}</h5>
                               <span class="description-text">SỐ LƯỢT ĐĂNG KÝ MỚI</span>
                           </div>
                       </div>
                       <div class="col-sm-3 col-xs-6">
                           <div class="description-block border-right">
                               <h5 class="description-header">{{ register_range.summary.distinct_isdn }}</h5>
                               <span class="description-text">SỐ THUÊ BAO ĐĂNG KÝ MỚI</span>
                           </div>
                       </div>
                       <div class="col-sm-3 col-xs-6">
                           <div class="description-block border-right">
                               <h5 class="description-header">{{ register_range.summary.first_reg }}</h5>
                               <span class="description-text">SỐ LƯỢNG ĐĂNG KÝ LẦN ĐẦU</span>
                           </div>
                       </div>
                       <div class="col-sm-3 col-xs-6">
                           <div class="description-block">
                               <h5 class="description-header">{{ register_range.summary.second_reg }}</h5>
                               <span class="description-text">SỐ LƯỢT ĐĂNG KÝ LẠI</span>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="col-md-12">
           <div class="box box-danger">
               <div class="box-header with-border">
                   <i class="fa fa-th"></i>
                   <h3 class="box-title">Số lượng hủy dịch vụ
                       <template v-if="start_date === end_date">
                           trong ngày theo giờ
                       </template>
                       <template v-else>
                           theo ngày
                       </template>
                   </h3>
               </div>
               <div class="box-body border-radius-none">
                   <div class="row">
                       <div class="col-md-8">
                           <line-chart :data="unregister_range.unregister"></line-chart>
                       </div>
                       <div class="col-md-4">
                           <h4 class="text-center">Tỉ trọng hủy theo dịch vụ</h4>
                           <pie-chart :data="unregister_range.percent" :donut="true"></pie-chart>
                       </div>
                   </div>
               </div>
               <div class="box-footer">
                   <div class="row">
                       <div class="col-sm-3 col-xs-6">
                           <div class="description-block border-right">
                               <h5 class="description-header">{{ unregister_range.summary.total }}</h5>
                               <span class="description-text">SỐ LƯỢT HỦY</span>
                           </div>
                       </div>
                       <div class="col-sm-3 col-xs-6">
                           <div class="description-block border-right">
                               <h5 class="description-header">{{ unregister_range.summary.distinct_isdn }}</h5>
                               <span class="description-text">SỐ THUÊ BAO HỦY</span>
                           </div>
                       </div>
                       <div class="col-sm-3 col-xs-6">
                           <div class="description-block border-right">
                               <h5 class="description-header">{{ unregister_range.summary.first_unreg }}</h5>
                               <span class="description-text">HỦY SAU KHI ĐĂNG KÝ</span>
                           </div>
                       </div>
                       <div class="col-sm-3 col-xs-6">
                           <div class="description-block">
                               <h5 class="description-header">{{ unregister_range.summary.second_unreg }}</h5>
                               <span class="description-text">SỐ LƯỢT HỦY KHÁC</span>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>-->

           <div class="col-xs-12">
               <div class="box box-info">
                   <div class="box-header">
                       <button class="btn btn-info pull-right" type="button" @click="exportExcel()" id="btnExport"><i class="fa fa-file-excel-o"></i> Export excel</button>
                   </div>
                   <div class="box-body table-responsive no-padding">
                       <table id="table2excel" class="table table-hover">
                           <tbody>
                               <tr>
                                   <th>Ngày</th>
                                   <th>DK 101</th>
                                   <th>DK SMS</th>
                                   <th>DK USSD</th>
                                   <th>Tổng DK</th>
                                   <th>Tổng TB</th>
                                   <th>Hủy SMS</th>
                                   <th>Hủy USSD</th>
                                   <th>Hủy bởi HT</th>
                                   <th>Tổng hủy</th>
                                   <th>DT DK</th>
                                   <th>DT gia hạn</th>
                                   <th>DT câu hỏi</th>
                                   <th>Tổng DT</th>
                               </tr>
                               <tr v-for="item in params.data.data">
                                   <td>{{item.stats_date}}</td>
                                   <td>{{showpoint(item.dk101)}}</td>
                                   <td>{{showpoint(item.dksms)}}</td>
                                   <td>{{showpoint(item.dkussd)}}</td>
                                   <td>{{showpoint(item.tongdk)}}</td>
                                   <td><vue-numeric v-bind="numeric" :value="showpoint(item.tongtb)"></vue-numeric></td>
                                   <td>{{showpoint(item.huysms)}}</td>
                                   <td>{{showpoint(item.huyussd)}}</td>
                                   <td>{{showpoint(item.huyboiht)}}</td>
                                   <td>{{showpoint(item.tonghuy)}}</td>
                                   <td><vue-numeric v-bind="numeric" :value="showpoint(item.dtdk)"></vue-numeric></td>
                                   <td><vue-numeric v-bind="numeric" :value="showpoint(item.dtgiahan)"></vue-numeric></td>
                                   <td><vue-numeric v-bind="numeric" :value="showpoint(item.dtcauhoi)"></vue-numeric></td>
                                   <td><vue-numeric v-bind="numeric" :value="showpoint(item.tongdt)"></vue-numeric></td>
                               </tr>
                           </tbody>
                       </table>
                   </div>
               </div>
           </div>
       </div>


</template>

<script>
    import HotelDatePicker from "vue-hotel-datepicker";
    import moment from "moment";
    export default {
        components: {
            HotelDatePicker
        },
        data() {
            return {
                params: {
                    data: '',
                },
                search: {
                    start_date: moment().format("DD-MM-YYYY"),
                    end_date: moment().format("DD-MM-YYYY"),
                },
                config: {
                    format: "DD-MM-YYYY",
                    useCurrent: true,
                    sideBySide: true
                },
                start_date: moment().format("DD-MM-YYYY"),
                end_date: moment().format("DD-MM-YYYY"),
                report_now: {
                    register: 0,
                    unregister: 0,
                    active_sub: 0,
                    recharge_amount: 0
                },
                revenue_range: {
                    amount: [],
                    percent: [],
                    summary: {
                        sum: 0,
                        percent: 0
                    }
                },
                revenue_sum: 0,
                revenue_percent: 0,
                register_range: {
                    register: [],
                    percent: [],
                    summary: {
                        distinct_isdn: 0,
                        first_reg: 0,
                        second_reg: 0,
                        total: 0
                    }
                },
                unregister_range: {
                    unregister: [],
                    percent: [],
                    summary: {
                        distinct_isdn: 0,
                        first_unreg: 0,
                        second_unreg: 0,
                        total: 0
                    }
                },
                userID: window.TrucBach.user.id,
                numeric:{
                    currency: '',
                    currencySymbolPosition:'suffix',
                    readOnly: true
                },
            };
        },
        computed: {
            pagesNumber: function () {
                if (!this.params.data.to) {
                    return [];
                }
                var from = this.params.data.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                var to = from + this.offset * 2;
                if (to >= this.params.data.last_page) {
                    to = this.params.data.last_page;
                }
                var pagesArray = [];
                for (from; from <= to; from++) {
                    pagesArray.push(from);
                }
                return pagesArray;
            }
        },
        mounted() {
            this.fetch();
        },
        methods: {
            exportExcel: function (url) {
                url = url || '/api/export/quantity/statistic';
                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    window.open( response.data.data, '_blank');
                });
            },
            fetch(url) {
                url = url || '/api/quantity/statistic';
                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    this.params.data = response.data;
                });
            },
            showpoint(value) {
                if (!value) {
                    return 0;
                }
                return value;
            },
        }
    }
</script>
<!--tu ngay -> ngay, ngay theo doi, thong ke dich vu char-->
