<template>
    <div class="row">
        <div class="col-xs-4">
            <div class="box">
                <div class="box-header with-border">
                    <h3 v-if="!content.id" class="box-title">
                        <i class="fa fa-plus-square"></i> Thêm MT nội dung</h3>
                    <h3 v-else class="box-title">
                        <i class="fa fa-edit"></i> Sửa MT nội dung</h3>
                </div>
                <div class="box-body">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Gói cước</label>
                            <model-select :options="params.packages"
                                          v-model="content.pkg_code"
                                          placeholder="Gói cước">
                            </model-select>
                        </div>
                        <div class="form-group">
                            <label>Nội dung</label>
                            <textarea type="text" class="form-control" placeholder="Nội dung MT" rows="7"
                                      v-model="content.content" required></textarea>
                        </div>
                        <div class="form-group">
                            <label>Tgian bắt đầu</label>
                            <date-picker v-model="content.send_time" :config="config"></date-picker>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button @click="onSubmit()" type="submit" class="btn btn-success btn-flat pull-right">
                            <span v-if="!content.id"> Tạo mới MT</span>
                            <span v-else>Cập nhật MT</span>
                        </button>
                        <button v-on:click.prevent="setNullContent" type="reset"
                                class="btn btn-danger btn-flat pull-left">
                            <span>Hủy</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="box">
                <div class="box-header">
                    <div class="form-group row">
                        <div class="col-md-6">
                            <input type="text" v-model="search.name" placeholder="Nội dung" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <model-select :options="params.packages"
                                          v-model="search.pkg_code"
                                          placeholder="Gói cước">
                            </model-select>
                        </div>
                        <div class="col-md-3">
                            <button @click="fetch()" type="button" class="btn btn-block btn-primary">
                                <i class="fa fa-search"> Tìm kiếm</i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="vuetable table table-striped table-bordered">
                        <tbody>
                        <tr>
                            <th>STT</th>
                            <th>Nội dung</th>
                            <th>Gói</th>
                            <th>Thời gian bắt đầu</th>
                            <th>Trạng thái</th>
                            <th>Thời gian tạo</th>
                            <th>Thao tác</th>
                        </tr>
                        <tr v-for="item in params.data.data">
                            <td>{{item.id}}</td>
                            <td>{{item.content}}</td>
                            <td>{{item.pkg_code}}</td>
                            <td>{{item.send_time}}</td>
                            <td v-html="showStatus(item.state)"></td>
                            <td>{{item.created_time}}</td>
                            <td>
                                <button v-if="parseInt(item.state) === 0" @click="editContent(item)"
                                        class="btn btn-sm btn-info btn-flat">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <!--<button @click="deleteContent(item)" class="btn btn-sm btn-danger btn-flat">-->
                                <!--<i class="fa fa-fw fa-remove"></i>-->
                                <!--</button>-->
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <template v-if="params.data.next_page_url !== null || params.data.prev_page_url !== null">
                        <div class="col-md-6" style="margin-top: 20px">
                            <div class="form-inline">
                                <label class="control-label">Hiển thị </label>
                                <select v-on:change="fetch()" v-model="search.per_page" class="form-control">
                                    <option value="10">10 hàng</option>
                                    <option value="25">25 hàng</option>
                                    <option value="50">50 hàng</option>
                                    <option value="100">100 hàng</option>
                                </select>
                                <label>
                                    {{showInfoPagination()}}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <nav aria-label="Page navigation" class="pull-right">
                                <ul class="pagination">
                                    <li v-model="params.data.prev_page_url"
                                        v-bind:class="params.data.prev_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="params.data.prev_page_url !== null ? fetch(params.data.prev_page_url) : ''">
                                            <i class="fa fa-angle-double-left"></i>
                                        </a>
                                    </li>

                                    <li v-for="page in pagesNumber"
                                        :class="{'active': page == params.data.current_page}">
                                        <a href="javascript:void(0);"
                                           v-on:click="fetch(params.data.path + '?page=' +page)">{{ page }}</a>
                                    </li>

                                    <li v-model="params.data.next_page_url"
                                        v-bind:class="params.data.next_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="params.data.next_page_url !== null ? fetch(params.data.next_page_url) : ''">
                                            <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </template>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</template>
<script>
    var moment = require("moment");

    import {
        ModelSelect
    } from "vue-search-select";

    export default {
        components: {
            ModelSelect
        },
        data() {
            return {
                params: {
                    data: '',
                    packages: [],

                },
                search: {
                    name: '',
                    pkg_code:'',
                    per_page: 10
                },
                content: {
                    pkg_code: 'NGAY',
                    content: "",
                    send_time: null
                },
                config: {
                    format: "YYYY-MM-DD HH:mm:00",
                    useCurrent: true,
                    sideBySide: true
                },
                userID: window.TrucBach.user.id,
                offset: 4
            };
        },
        computed: {
            pagesNumber: function () {
                if (!this.params.data.to) {
                    return [];
                }
                var from = this.params.data.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                var to = from + this.offset * 2;
                if (to >= this.params.data.last_page) {
                    to = this.params.data.last_page;
                }
                var pagesArray = [];
                for (from; from <= to; from++) {
                    pagesArray.push(from);
                }
                return pagesArray;
            }
        },
        mounted() {
            this.fetch();
            this.fetchPackages();
        },
        methods: {
            fetch(url) {
                url = url || '/api/content';
                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    this.params.data = response.data.data;
                });
            },
            fetchPackages(url) {
                url = url || "/api/content/packages";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.packages = response.data.data;
                    });
            },
            editContent: function (item) {
                this.content = item;
            },
            onSubmit: function () {
                if (this.content.content.trim() === '') {
                    this.$notify("alert", "Chưa nhập nội dung MT", 'error');
                    return false;
                }
                if (this.content.send_time === null) {
                    this.$notify("alert", "Chưa chọn thời gian gửi tin !", 'error');
                    return false;
                }

                window
                    .axios({
                        method: !this.content.id ? "post" : "put",
                        url: !this.content.id ? "/api/content/create" : "/api/content/update",
                        data: this.content
                    })
                    .then(response => {
                        this.$notify("alert", response.data.message, response.data.status);
                        if (response.data.status == "success") {

                            this.setNullContent();
                            this.fetch();
                            // if (!this.category.id) {
                            //     this.fetch();
                            // }
                        }
                    })
                    .catch(error => {
                        if (error.response && error.response.status == 422) {
                            let errMsg = error.response.data;
                            this.$notify("alert", errMsg.message, "error");
                        }
                    });
            },
            showStatus(value) {
                if (value == 1) {
                    return '<i class="fa fa-check text-green"></i>';
                }
                return '<i class="fa fa-times-circle text-red"></i>';
            },
            showInfoPagination: function () {
                return (
                    this.params.data.from +
                    "-" +
                    this.params.data.to +
                    " trong số " +
                    this.params.data.total
                );
            },
            setNullContent: function () {
                this.content = {
                    pkg_code: 'NGAY',
                    content: "",
                    send_time: null
                }
            }
        }
    }
</script>
