<template>
    <div class="row">
        <modal style="top: 50px" transition="nice-modal-fade"
               :scrollable="true"
               :pivot-y="0.5"
               width="50%"
               height="auto"
               :adaptive="true"
               name="modal-question">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 v-if="!question.id" class="box-title">
                                <i class="fa fa-plus-square"></i> Thêm câu hỏi USSD</h3>
                            <h3 v-else class="box-title">
                                <i class="fa fa-edit"></i> Sửa câu hỏi USSD</h3>
                        </div>
                        <div class="box-body">
                            <div class="box-body">
                                <div class="form-group">
                                    <label>Cấp độ khó</label>
                                    <model-select :options="params.level"
                                                  v-model="question.q_level"
                                                  placeholder="Cấp độ câu hỏi">
                                    </model-select>
                                </div>
                                <div class="form-group">
                                    <label>Chuyên mục</label>
                                    <model-select :options="params.categories"
                                                  v-model="question.cat_id"
                                                  placeholder="Gói cước">
                                    </model-select>
                                </div>
                                <div class="form-group">
                                    <label>Nội dung</label>
                                    <textarea type="text" class="form-control" placeholder="Nội dung MT" rows="3"
                                              v-model="question.content" required></textarea>
                                </div>
                                <div v-if="!question.id">
                                    <div class="form-group">
                                        <label>Lựa chọn 1</label>
                                        <input type="text" class="form-control" v-model="question.label1"
                                               placeholder="Lựa chọn 1">
                                    </div>
                                    <div class="form-group">
                                        <label>Lựa chọn 2</label>
                                        <input type="text" class="form-control" v-model="question.label2"
                                               placeholder="Lựa chọn 2">
                                    </div>
                                    <div class="form-group">
                                        <label>Lựa chọn 3</label>
                                        <input type="text" class="form-control" v-model="question.label3"
                                               placeholder="Lựa chọn 3">
                                    </div>
                                    <div class="form-group">
                                        <label>Lựa chọn 4</label>
                                        <input type="text" class="form-control" v-model="question.label4"
                                               placeholder="Lựa chọn 4">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Đáp án đúng</label>
                                    <select v-model="question.correct_label" class="form-control">
                                        <option disabled value="">Chọn đáp án đúng</option>
                                        <option value="1">Lựa chọn 1</option>
                                        <option value="2">Lựa chọn 2</option>
                                        <option v-if="question.label3 !== ''" value="3">Lựa chọn 3</option>
                                        <option v-if="question.label4 !== ''" value="4">Lựa chọn 4</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Thời gian chờ</label>
                                    <input type="text" class="form-control" v-model="question.timeout"
                                           placeholder="">
                                </div>
                            </div>
                            <div class="box-footer">
                                <button @click="onSubmit()" type="submit" class="btn btn-success btn-flat pull-right">
                                    <span v-if="!question.id"> Tạo mới câu hỏi</span>
                                    <span v-else>Cập nhật câu hỏi</span>
                                </button>
                                <button v-on:click.prevent="setNullQuestion" type="reset"
                                        class="btn btn-danger btn-flat pull-left">
                                    <span>Hủy</span>
                                </button>
                            </div>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </modal>
        <modal style="top: 50px" transition="nice-modal-fade"
               :scrollable="true"
               :pivot-y="0.5"
               width="50%"
               height="auto"
               :adaptive="true"
               name="modal-file-manage"
               @shown="">
            <iframe src="/laravel-filemanager"
                    style="width: 100%; height: 500px; overflow: hidden; border: none;"></iframe>
        </modal>


        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="form-group row">
                        <div class="col-md-3">
                            <input type="text" v-model="search.name" placeholder="Nội dung" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <model-select :options="params.level"
                                          v-model="search.q_level"
                                          placeholder="Cấp độ câu hỏi">
                            </model-select>
                        </div>
                        <div class="col-md-2">
                            <model-select :options="params.categories"
                                          v-model="search.cat_id"
                                          placeholder="Chuyên mục">
                            </model-select>
                        </div>
                        <div class="col-md-2">
                            <button @click="fetch()" type="button" class="btn btn-block btn-primary">
                                <i class="fa fa-search"> Tìm kiếm</i>
                            </button>
                        </div>
                        <div class="col-md-2">
                            <button @click="show()" type="button" class="btn btn-block btn-danger">
                                <i class="fa fa-plus-square"> Tạo câu hỏi</i>
                            </button>
                        </div>
                        <!--<div class="col-md-2">-->
                        <!--<button @click="showFile()" type="button" class="btn btn-block btn-danger">-->
                        <!--<i class="fa fa-plus-square"> Import file</i>-->
                        <!--</button>-->
                        <!--</div>-->
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="vuetable table table-striped table-bordered">
                        <tbody>
                        <tr>
                            <th>STT</th>
                            <th width="25%">Nội dung</th>
                            <th>Mức độ</th>
                            <th>Đáp án đúng</th>
                            <th>TG trả lời</th>
                            <th>Giá</th>
                            <th>TG tạo/Cập nhật</th>
                            <th>Thao tác</th>
                        </tr>
                        <tr v-for="item in params.data.data">
                            <td>{{item.id}}</td>
                            <td>{{item.content}}</td>
                            <td>{{item.q_level}}</td>
                            <td>{{item.correct_label}}</td>
                            <td>{{item.timeout}}</td>
                            <td>{{item.fee}}</td>
                            <td>{{item.created_time}}
                                <br>
                                {{item.modified_time}}
                            </td>
                            <td>
                                <button @click="editQuestion(item)" class="btn btn-sm btn-info btn-flat">
                                    <i class="fa fa-edit"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <template v-if="params.data.next_page_url !== null || params.data.prev_page_url !== null">
                        <div class="col-md-6" style="margin-top: 20px">
                            <div class="form-inline">
                                <label class="control-label">Hiển thị </label>
                                <select v-on:change="fetch()" v-model="search.per_page" class="form-control">
                                    <option value="10">10 hàng</option>
                                    <option value="25">25 hàng</option>
                                    <option value="50">50 hàng</option>
                                    <option value="100">100 hàng</option>
                                </select>
                                <label>
                                    {{showInfoPagination()}}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <nav aria-label="Page navigation" class="pull-right">
                                <ul class="pagination">
                                    <li v-model="params.data.prev_page_url"
                                        v-bind:class="params.data.prev_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="params.data.prev_page_url !== null ? fetch(params.data.prev_page_url) : ''">
                                            <i class="fa fa-angle-double-left"></i>
                                        </a>
                                    </li>

                                    <li v-for="page in pagesNumber"
                                        :class="{'active': page == params.data.current_page}">
                                        <a href="javascript:void(0);"
                                           v-on:click="fetch(params.data.path + '?page=' +page)">{{ page }}</a>
                                    </li>

                                    <li v-model="params.data.next_page_url"
                                        v-bind:class="params.data.next_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="params.data.next_page_url !== null ? fetch(params.data.next_page_url) : ''">
                                            <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </template>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</template>
<script>
    var moment = require("moment");

    import {
        ModelSelect
    } from "vue-search-select";

    export default {
        components: {
            ModelSelect
        },
        data() {
            return {
                params: {
                    data: '',
                    categories: [],
                    level: [
                        {
                            text: 'Câu bắt đầu',
                            value: '0'
                        },
                        {
                            text: 'Câu dễ',
                            value: '1'
                        },
                        {
                            text: 'Câu khó',
                            value: '2'
                        },
                        {
                            text: 'Câu rất khó',
                            value: '3'
                        }
                    ]
                },
                question: {
                    q_level: '',
                    cat_id: '',
                    content: '',
                    correct_label: '',
                    label1: '',
                    label2: '',
                    label3: '',
                    label4: '',
                    timeout: 0,
                },
                search: {
                    name: '',
                    q_level: '',
                    cat_id: '',
                    per_page: 10
                },
                userID: window.TrucBach.user.id,
                offset: 4
            };
        },
        computed: {
            pagesNumber: function () {
                if (!this.params.data.to) {
                    return [];
                }
                var from = this.params.data.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                var to = from + this.offset * 2;
                if (to >= this.params.data.last_page) {
                    to = this.params.data.last_page;
                }
                var pagesArray = [];
                for (from; from <= to; from++) {
                    pagesArray.push(from);
                }
                return pagesArray;
            }
        },
        mounted() {
            this.fetch();
            this.fetchCategoryAll();
        },
        methods: {
            show() {
                this.$modal.show('modal-question');
            },
            hide() {
                this.$modal.hide('modal-question');
            },
            showFile() {
                this.$modal.show('modal-file-manage');
            },
            fetch(url) {
                url = url || '/api/content/questions';
                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    this.params.data = response.data.data;
                });
            },
            fetchCategoryAll(url) {
                url = url || "/api/content/cat-all";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.categories = response.data.data;
                    });
            },
            onSubmit: function () {
                if (this.question.q_level === '') {
                    this.$notify("alert", "Chưa chọn cấp độ khó!", 'error');
                    return false;
                }

                if (this.question.cat_id.trim() === '') {
                    this.$notify("alert", "Chưa chọn chuyên mục chuyên mục!", 'error');
                    return false;
                }

                if (this.question.content.trim() === '') {
                    this.$notify("alert", "Chưa nhập nội dung câu hỏi!", 'error');
                    return false;
                }

                if (!this.question.id) {
                    if (this.question.label1.trim() === '') {
                        this.$notify("alert", "Chưa nhập lựa chọn 1!", 'error');
                        return false;
                    }
                    if (this.question.label2.trim() === '') {
                        this.$notify("alert", "Chưa nhập lựa chọn 2!", 'error');
                        return false;
                    }
                }

                if (this.question.correct_label.trim() === '') {
                    this.$notify("alert", "Chưa chọn đáp án đúng!", 'error');
                    return false;
                }

                window
                    .axios({
                        method: !this.question.id ? "post" : "put",
                        url: !this.question.id ? "/api/questions/create" : "/api/questions/update",
                        data: this.question
                    })
                    .then(response => {
                        this.$notify("alert", response.data.message, response.data.status);
                        if (response.data.status == "success") {
                            this.setNullQuestion();
                            if (!this.question.id) {
                                this.fetch();
                            }
                        }
                    })
                    .catch(error => {
                        if (error.response && error.response.status == 422) {
                            let errMsg = error.response.data;
                            this.$notify("alert", errMsg.message, "error");
                        }
                    });
            },
            editQuestion: function (item) {
                this.question = item;
                this.show();
            },
            showInfoPagination: function () {
                return (
                    this.params.data.from +
                    "-" +
                    this.params.data.to +
                    " trong số " +
                    this.params.data.total
                );
            },
            setNullQuestion: function () {
                this.question = {
                    q_level: '',
                    cat_id: '',
                    content: '',
                    correct_label: '',
                    label1: '',
                    label2: '',
                    label3: '',
                    label4: '',
                    timeout: 0,
                }
                this.hide();
            }
        }
    }
</script>
