<template>
    <div class="row">
        <div class="col-xs-4">
            <div class="box">
                <div class="box-header with-border">
                    <h3 v-if="!message.id" class="box-title">
                        <i class="fa fa-plus-square"></i> Thêm tin nhắn thuê bao</h3>
                    <h3 v-else class="box-title">
                        <i class="fa fa-edit"></i> Sửa tin nhắn thuê bao</h3>
                </div>
                <div class="box-body">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Loại tin nhắn</label>
                            <model-select :options="params.actions"
                                          v-model="message.action"
                                          placeholder="Loại tin nhắn">
                            </model-select>
                        </div>
                        <div class="form-group">
                            <label>Code</label>
                            <input type="text" class="form-control" v-model="message.code"
                                   placeholder="Code">
                        </div>
                        <div class="form-group">
                            <label>Kiểu</label>
                            <select v-model="message.type" class="form-control">
                                <option value="">Kiểu</option>
                                <option value="1">Gửi theo đúng channel đã gửi lên</option>
                                <option value="2">Gửi cả hai kênh ussd,sms</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Gói cước</label>
                            <model-select :options="params.packages"
                                          v-model="message.pkg_code"
                                          placeholder="Gói cước">
                            </model-select>
                        </div>
                        <div class="form-group">
                            <label>Kênh thao tác</label>
                            <select v-model="message.channel" class="form-control">
                                <option value="">Kênh thao tác</option>
                                <option value="SMS">SMS</option>
                                <option value="USSD">USSD</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Thời gian delay gửi tin nhắn</label>
                            <input type="text" class="form-control" v-model="message.delay"
                                   placeholder="Code">
                        </div>
                        <div class="form-group">
                            <label>Đầu số</label>
                            <input disabled type="text" class="form-control" v-model="message.shortcode"
                                   placeholder="Code">
                        </div>
                        <div class="form-group">
                            <label>Brandname gửi</label>
                            <input type="text" class="form-control" v-model="message.brand_name"
                                   placeholder="Brandname">
                        </div>
                        <div class="form-group">
                            <label>Nội dung</label>
                            <textarea type="text" class="form-control" placeholder="Nội dung tin nhắn" rows="7"
                                      v-model="message.content" required></textarea>
                        </div>
                        <div class="form-group">
                            <label>Kênh gửi</label>
                            <select v-model="message.send_channel" class="form-control">
                                <option value="">Kênh gửi</option>
                                <option value="SMS">SMS</option>
                                <option value="USSD">USSD</option>
                            </select>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button @click="onSubmit()" type="submit" class="btn btn-success btn-flat pull-right">
                            <span v-if="!message.id"> Tạo mới tin nhắn</span>
                            <span v-else>Cập nhật tin nhắn</span>
                        </button>
                        <button v-on:click.prevent="setNullMessage" type="reset"
                                class="btn btn-danger btn-flat pull-left">
                            <span>Hủy</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="box">
                <div class="box-header">
                    <div class="form-group row">
                        <div class="col-md-9">
                            <input type="text" v-model="search.name" placeholder="Nội dung" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-block btn-primary">
                                <i class="fa fa-search"> Tìm kiếm</i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="vuetable table table-striped table-bordered">
                        <tbody>
                        <tr>
                            <th>STT</th>
                            <th>Loại tin nhắn</th>
                            <th>Kênh</th>
                            <th>Code</th>
                            <th>Nội dung</th>
                            <th>Thao tác</th>
                        </tr>
                        <tr v-for="item in params.data.data">
                            <td>{{item.id}}</td>
                            <td>{{item.action}}</td>
                            <td>{{item.code}}</td>
                            <td>{{item.channel}}</td>
                            <td>{{item.content}}</td>
                            <td>
                                <button @click="editMessage(item)" class="btn btn-sm btn-info btn-flat">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <!--<button @click="deleteMessage(item)" class="btn btn-sm btn-danger btn-flat">-->
                                <!--<i class="fa fa-fw fa-remove"></i>-->
                                <!--</button>-->
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <template v-if="params.data.next_page_url !== null || params.data.prev_page_url !== null">
                        <div class="col-md-6" style="margin-top: 20px">
                            <div class="form-inline">
                                <label class="control-label">Hiển thị </label>
                                <select v-on:change="fetch()" v-model="search.per_page" class="form-control">
                                    <option value="10">10 hàng</option>
                                    <option value="25">25 hàng</option>
                                    <option value="50">50 hàng</option>
                                    <option value="100">100 hàng</option>
                                </select>
                                <label>
                                    {{showInfoPagination()}}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <nav aria-label="Page navigation" class="pull-right">
                                <ul class="pagination">
                                    <li v-model="params.data.prev_page_url"
                                        v-bind:class="params.data.prev_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="params.data.prev_page_url !== null ? fetch(params.data.prev_page_url) : ''">
                                            <i class="fa fa-angle-double-left"></i>
                                        </a>
                                    </li>

                                    <li v-for="page in pagesNumber"
                                        :class="{'active': page == params.data.current_page}">
                                        <a href="javascript:void(0);"
                                           v-on:click="fetch(params.data.path + '?page=' +page)">{{ page }}</a>
                                    </li>

                                    <li v-model="params.data.next_page_url"
                                        v-bind:class="params.data.next_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="params.data.next_page_url !== null ? fetch(params.data.next_page_url) : ''">
                                            <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </template>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</template>
<script>
    var moment = require("moment");

    import {
        ModelSelect
    } from "vue-search-select";

    export default {
        components: {
            ModelSelect
        },
        data() {
            return {
                params: {
                    data: '',
                    actions: [
                        {
                            value: 'RE_REG',
                            text: 'RE_REG'
                        },
                        {
                            value: 'UNREG',
                            text: 'UNREG'
                        },
                        {
                            value: 'TG',
                            text: 'TG'
                        },
                        {
                            value: 'HD',
                            text: 'HD'
                        },
                        {
                            value: 'SYNTAX_ERROR',
                            text: 'SYNTAX_ERROR'
                        },
                        {
                            value: 'TC',
                            text: 'TC'
                        },
                        {
                            value: 'INVITE',
                            text: 'INVITE'
                        },
                        {
                            value: 'MO_HANDLE',
                            text: 'MO_HANDLE'
                        },
                        {
                            value: 'TAPPING',
                            text: 'TAPPING'
                        },
                        {
                            value: 'USSD_HANDLER',
                            text: 'USSD_HANDLER'
                        },
                        {
                            value: 'DAILYNEWS',
                            text: 'DAILYNEWS'
                        },
                        {
                            value: 'CDR_RENEW',
                            text: 'CDR_RENEW'
                        }, {
                            value: 'QUESTION',
                            text: 'QUESTION'
                        }, {
                            value: 'ANSWER',
                            text: 'ANSWER'
                        },
                        {
                            value: 'GET_POINT',
                            text: 'GET_POINT'
                        },
                        {
                            value: 'RE_INVITE',
                            text: 'RE_INVITE'
                        }
                    ],
                    packages: [],
                },
                search: {
                    name: '',
                    per_page: 10
                },
                message: {
                    action: '',
                    code: '',
                    type: '',
                    pkg_code: 'NGAY',
                    channel: '',
                    delay: 0,
                    shortcode: '9098',
                    brand_name: '',
                    content: '',
                    send_channel: ''
                },
                config: {
                    format: "YYYY-MM-DD 08:00:00",
                    useCurrent: true,
                    sideBySide: true
                },
                userID: window.TrucBach.user.id,
                offset: 4
            };
        },
        computed: {
            pagesNumber: function () {
                if (!this.params.data.to) {
                    return [];
                }
                var from = this.params.data.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                var to = from + this.offset * 2;
                if (to >= this.params.data.last_page) {
                    to = this.params.data.last_page;
                }
                var pagesArray = [];
                for (from; from <= to; from++) {
                    pagesArray.push(from);
                }
                return pagesArray;
            }
        },
        mounted() {
            this.fetch();
            this.fetchPackages();
        },
        methods: {
            fetch(url) {
                url = url || '/api/content/messages';
                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    this.params.data = response.data.data;
                });
            },
            fetchPackages(url) {
                url = url || "/api/content/packages";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.packages = response.data.data;
                    });
            },
            onSubmit: function () {
                if (this.message.action.trim() === '') {
                    this.$notify("alert", "Chưa chọn loại tin nhắn", 'error');
                    return false;
                }
                if (this.message.code.trim() === '') {
                    this.$notify("alert", "Chưa chọn mã lỗi !", 'error');
                    return false;
                }
                if (this.message.type.trim() === '') {
                    this.$notify("alert", "Chưa chọn kiểu gửi!", 'error');
                    return false;
                }
                if (this.message.pkg_code.trim() === '') {
                    this.$notify("alert", "Chưa chọn gói cước!", 'error');
                    return false;
                }
                if (this.message.channel.trim() === '') {
                    this.$notify("alert", "Chưa chọn kênh thao tác!", 'error');
                    return false;
                }
                if (this.message.content.trim() === '') {
                    this.$notify("alert", "Chưa nhập nội dung tin nhắn!", 'error');
                    return false;
                }

                window
                    .axios({
                        method: !this.message.id ? "post" : "put",
                        url: !this.message.id ? "/api/messages/create" : "/api/messages/update",
                        data: this.message
                    })
                    .then(response => {
                        this.$notify("alert", response.data.message, response.data.status);
                        if (response.data.status == "success") {
                            this.setNullMessage();
                            if (!this.message.id) {
                                this.fetch();
                            }
                        }
                    })
                    .catch(error => {
                        if (error.response && error.response.status == 422) {
                            let errMsg = error.response.data;
                            this.$notify("alert", errMsg.message, "error");
                        }
                    });
            },
            editMessage: function (item) {
                this.message = item;
            },
            showStatus(value) {
                if (value == 1) {
                    return '<i class="fa fa-check text-green"></i>';
                }
                return '<i class="fa fa-times-circle text-red"></i>';
            },
            showInfoPagination: function () {
                return (
                    this.params.data.from +
                    "-" +
                    this.params.data.to +
                    " trong số " +
                    this.params.data.total
                );
            },
            setNullMessage: function () {
                this.message = {
                    action: '',
                    code: '',
                    type: '',
                    pkg_code: 'NGAY',
                    channel: '',
                    delay: 0,
                    shortcode: '9098',
                    brand_name: '',
                    content: '',
                    send_channel: ''
                }
            }
        }
    }
</script>
