<template>
    <div class="row">
        <div class="col-xs-4">
            <div class="box">
                <div v-if="question.q_level" class="box-header with-border">
                    <h3 v-if="question.q_level === '1'" class="box-title">
                        <i class="fa fa-edit"></i> Câu dễ
                    </h3>
                    <h3 v-else-if="question.q_level === '2'" class="box-title">
                        <i class="fa fa-edit"></i> Câu khó
                    </h3>
                    <h3 v-else-if="question.q_level === '3'" class="box-title">
                        <i class="fa fa-edit"></i> Câu rất khó
                    </h3>
                    <h3 v-else class="box-title">
                        <i class="fa fa-edit"></i> Câu bắt đầu
                    </h3>
                </div>
                <div class="box-body">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Loại</label>
                            <input type="text" class="form-control" v-model="question.q_level"
                                   placeholder="Loại câu hỏi" disabled>
                        </div>
                        <div class="form-group">
                            <label>Thời gian trả lời</label>
                            <input type="text" class="form-control" v-model="question.timeout"
                                   placeholder="500">
                        </div>
                    </div>
                    <div class="box-footer">
                        <button v-if="question.q_level" @click="onSubmit()" type="submit"
                                class="btn btn-success btn-flat pull-right">
                            <span>Cập nhật thời gian trả lời</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>Loại</th>
                            <th>Số lượng</th>
                            <!--<th>Thời gian trả lời</th>-->
                            <th>Chỉnh sửa thời gian</th>
                        </tr>
                        <tr v-for="item in params.data">
                            <td v-if="item.q_level === '1'">Câu dễ</td>
                            <td v-else-if="item.q_level === '2'">Câu khó</td>
                            <td v-else-if="item.q_level === '3'">Câu rất khó</td>
                            <td v-else>Câu bắt đầu</td>
                            <td>{{item.total}}</td>
                            <!--<td>{{item.timeout}}</td>-->
                            <td>
                                <button @click="editQuestion(item)"
                                        class="btn btn-sm btn-info btn-flat">
                                    <i class="fa fa-edit"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</template>
<script>

    export default {
        components: {},
        data() {
            return {
                params: {
                    data: window.data
                },
                userID: window.TrucBach.user.id,
                question: {},
            };
        },
        computed: {},
        mounted() {
        },
        methods: {
            editQuestion: function (item) {
                this.question = item;
            },
            onSubmit: function () {
                window
                    .axios({
                        method: "put",
                        url: "/api/questions/update-timeout",
                        data: this.question
                    })
                    .then(response => {
                        this.$notify("alert", response.data.message, response.data.status);
                        if (response.data.status == "success") {
                            this.fetch();
                        }
                    })
                    .catch(error => {
                        if (error.response && error.response.status == 422) {
                            let errMsg = error.response.data;
                            this.$notify("alert", errMsg.message, "error");
                        }
                    });
            }
        }
    }
</script>
