<template>
    <section>
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-body">
                        <div class="col-md-2">
                            <label>Đuôi số mời hiện tại</label>
                        </div>
                        <div class="col-md-3">
                            <input v-model="config.invite" :disabled="!edit ? 'disabled' : false" type="text"
                                   class="form-control"
                                   placeholder="1,2,3,4,5">
                        </div>
                        <div class="col-md-2">
                            <label>Giá trị tài khoản</label>
                        </div>
                        <div class="col-md-3">
                            <input v-model="config.balance" :disabled="!edit ? 'disabled' : false" type="number"
                                   class="form-control"
                                   placeholder="1000">
                        </div>
                        <div class="col-md-2">
                            <button v-if="!edit" @click="editConfig()" type="button" class="btn btn-block btn-info">
                                <i class="fa fa-edit"> Chỉnh sửa</i>
                            </button>
                            <button v-else @click="onSubmit()" type="button" class="btn btn-block btn-danger">
                                <i class="fa fa-save"> Cập nhật</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title"><i class="fa fa-th-list"></i> Lịch sử cấu hình</h3>
                    </div>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="vuetable table table-striped table-bordered">
                        <tbody>
                        <tr>
                            <th>STT</th>
                            <th>Tên file</th>
                            <th>Đuôi mời</th>
                            <th>Giá trị tài khoản</th>
                        </tr>
                        <tr v-for="(item, idx) in params.data">
                            <td>{{idx}}</td>
                            <td>{{item.fileName}}</td>
                            <td>{{item.patterm}}</td>
                            <td>{{item.balance}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

</template>
<script>
    var moment = require("moment");

    import {
        ModelSelect
    } from "vue-search-select";

    export default {
        components: {
            ModelSelect
        },
        data() {
            return {
                params: {
                    data: ''
                },
                edit: false,
                config: {
                    invite: '',
                    balance: 1000
                },
                userID: window.TrucBach.user.id,
                offset: 4
            };
        },
        computed: {},
        mounted() {
            this.fetch();
            this.fetchConfigCurrent();
        },
        methods: {
            fetch(url) {
                url = url || '/api/system/config-invite';
                window.axios.get(url).then(response => {
                    this.params.data = response.data.data;
                });
            },
            fetchConfigCurrent(url) {
                url = url || '/api/system/view-config-invite';
                window.axios.get(url).then(response => {
                    this.config.invite = response.data.data;
                });
            },
            rollBack: function (idx, item) {
                window
                    .axios({
                        method: "post",
                        url: "/api/config-invite/rollback",
                        data: {idx}
                    })
                    .then(response => {
                        this.config.invite = item;
                        this.$notify("alert", response.data.message, response.data.status);
                        if (response.data.status == "success") {

                        }
                    })
                    .catch(error => {
                        if (error.response && error.response.status == 422) {
                            let errMsg = error.response.data;
                            this.$notify("alert", errMsg.message, "error");
                        }
                    });
            },
            onSubmit: function () {
                if (this.config.invite.trim() === '') {
                    this.$notify("alert", "Chưa nhập tên đuôi số mời", 'error');
                    return false;
                }

                window
                    .axios({
                        method: "post",
                        url: "/api/config-invite/create",
                        data: this.config
                    })
                    .then(response => {
                        this.$notify("alert", response.data.message, response.data.status);
                        if (response.data.status == "success") {

                        }
                    })
                    .catch(error => {
                        if (error.response && error.response.status == 422) {
                            let errMsg = error.response.data;
                            this.$notify("alert", errMsg.message, "error");
                        }
                    });
            },
            editConfig: function () {
                this.edit = true;
            },
            showInfoPagination: function () {
                return (
                    this.params.data.from +
                    "-" +
                    this.params.data.to +
                    " trong số " +
                    this.params.data.total
                );
            },
        }
    }
</script>

