<template>
    <section>
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-body">
                        <div class="col-md-3">
                            <input v-model="search.isdn" type="text" class="form-control"
                                   placeholder="Nhập số điện thoại">
                        </div>
                        <div class="col-md-3">
                            <date-picker v-model="search.start_date" :config="config"></date-picker>
                        </div>
                        <div class="col-md-3">
                            <date-picker v-model="search.end_date" :config="config"></date-picker>
                        </div>
                        <div class="col-md-2">
                            <model-select :options="params.packages"
                                          v-model="search.pkg_code"
                                          placeholder="Gói cước">
                            </model-select>
                        </div>
                        <div class="col-md-1 pull-left">
                            <button @click="fetch()" type="submit" class="btn btn-success btn-flat pull-right">
                                <i class="fa fa-search"> Tra cứu</i>
                            </button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div v-if="params.data" class="box-body table-responsive no-padding">
                    <table class="vuetable table table-striped table-bordered">
                        <tbody>
                        <tr>
                            <th>Thời gian giao dịch</th>
                            <th>Loại giao dịch</th>
                            <th>Gói cước</th>
                            <th>Tình trạng</th>
                            <th>Kênh</th>
                            <th>Ứng dụng/Sự kiện</th>
                            <th>Tài khoản/CT</th>
                            <th>User IP</th>
                        </tr>
                        <tr v-for="item in params.data.data">
                            <td>{{item.created_time}}</td>
                            <td>{{item.action}}</td>
                            <td>{{item.pkg_code}}</td>
                            <td>{{parseInt(item.result) === 0 ? 'Thành công' : 'Thất bại'}}</td>
                            <td>{{item.channel}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                    <template v-if="params.data.next_page_url !== null || params.data.prev_page_url !== null">
                        <div class="col-md-6" style="margin-top: 20px">
                            <div class="form-inline">
                                <label class="control-label">Hiển thị </label>
                                <select v-on:change="fetch()" v-model="search.per_page" class="form-control">
                                    <option value="10">10 hàng</option>
                                    <option value="25">25 hàng</option>
                                    <option value="50">50 hàng</option>
                                    <option value="100">100 hàng</option>
                                </select>
                                <label>
                                    {{showInfoPagination()}}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <nav aria-label="Page navigation" class="pull-right">
                                <ul class="pagination">
                                    <li v-model="params.data.prev_page_url"
                                        v-bind:class="params.data.prev_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="params.data.prev_page_url !== null ? fetch(params.data.prev_page_url) : ''">
                                            <i class="fa fa-angle-double-left"></i>
                                        </a>
                                    </li>

                                    <li v-for="page in pagesNumber"
                                        :class="{'active': page == params.data.current_page}">
                                        <a href="javascript:void(0);"
                                           v-on:click="fetch(params.data.path + '?page=' +page)">{{ page }}</a>
                                    </li>

                                    <li v-model="params.data.next_page_url"
                                        v-bind:class="params.data.next_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="params.data.next_page_url !== null ? fetch(params.data.next_page_url) : ''">
                                            <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </template>
                </div>

                <div v-if="isLoading" class="box box-warning">
                    <div class="box-header">
                        <h3 class="box-title">Waiting</h3>
                    </div>
                    <div class="overlay">
                        <i class="fa fa-refresh fa-spin"></i>
                    </div>
                </div>

            </div>
        </div>
    </section>

</template>
<script>
    import HotelDatePicker from "vue-hotel-datepicker";
    import moment from "moment";

    import {
        ModelSelect,
    } from "vue-search-select";

    export default {
        components: {
            ModelSelect,
            HotelDatePicker
        },
        data() {
            return {
                isLoading: false,
                params: {
                    data: '',
                    sub: '',
                    packages: [],
                },
                search: {
                    isdn: '',
                    pkg_code:'',
                    start_date: moment().subtract(6, "days").format("DD-MM-YYYY"),
                    end_date: moment().format("DD-MM-YYYY"),
                    per_page: 25
                },
                config: {
                    format: "DD-MM-YYYY",
                    useCurrent: true,
                    sideBySide: true
                },
                userID: window.TrucBach.user.id,
                offset: 4
            };
        },
        computed: {
            pagesNumber: function () {
                if (!this.params.data.to) {
                    return [];
                }
                var from = this.params.data.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                var to = from + this.offset * 2;
                if (to >= this.params.data.last_page) {
                    to = this.params.data.last_page;
                }
                var pagesArray = [];
                for (from; from <= to; from++) {
                    pagesArray.push(from);
                }
                return pagesArray;
            }
        },
        mounted() {
            this.fetchPackages();
        },
        methods: {
            fetchPackages(url) {
                url = url || "/api/content/packages";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.packages = response.data.data;
                    });
            },
            fetch(url) {
                if (this.search.isdn.trim() === '') {
                    this.$notify("alert", "Chưa nhập số điện thoại tra cứu!", 'error');
                    return false;
                }

                if (!this.isLoading) {
                    this.isLoading = true;
                    url = url || '/api/system/log-register-un';
                    window.axios.get(url, {
                            params: this.search
                        }
                    ).then(response => {
                        this.isLoading = false;
                        this.params.data = response.data.data;
                    });
                }
            },
            exportExcel: function (url) {
                url = url || '/api/export/log-register';
                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    window.open(response.data.data, '_blank');
                });
            },
            showStatus(value) {
                if (value == 1) {
                    return "Active";
                } else if (value == 3) {
                    return 'Unregister';
                }

                return "Pending";

            },
            showTimeUnreg(value, time) {
                if (value == 1) {
                    return "";
                } else if (value == 3) {
                    return time;
                }

                return "";
            },
            showInfoPagination: function () {
                return (
                    this.params.data.from +
                    "-" +
                    this.params.data.to +
                    " trong số " +
                    this.params.data.total
                );
            },
        }
    }
</script>

