<template>
    <section>
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-body">
                        <div class="col-md-6">
                            <input v-model="search.isdn" type="text" class="form-control"
                                   placeholder="Nhập số điện thoại">
                        </div>
                        <div class="col-md-1 pull-left">
                            <button @click="fetch()" type="submit" class="btn btn-success btn-flat pull-right">
                                <i class="fa fa-search"> Tra cứu</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div v-if="params.data" class="box-body table-responsive no-padding">
                    <table class="vuetable table table-striped table-bordered">
                        <tbody>
                        <tr>
                            <th>Dịch vụ</th>
                            <th>Gói cước</th>
                            <th>Trạng thái</th>
                            <th>Ngày đăng ký</th>
                            <th>Ngày hủy</th>
                            <th>Hiệu lực gói cước</th>
                            <th>Kênh đăng ký/hủy</th>
                            <th>Cước phí</th>
                            <th>Ứng dụng/sự kiện</th>
                            <th>Tài khoản/chương trình</th>
                            <th>UserIP</th>
                        </tr>
                        <tr v-for="item in params.data.data">
                            <td>KNTB</td>
                            <td>{{item.pkg_code}}</td>
                            <td v-html="showStatus(item.service_state)"></td>
                            <td>{{item.reg_time}}</td>
                            <td v-html="showTimeUnreg(item.service_state,item.unreg_time)"></td>
                            <td>{{item.expired_time}}</td>
                            <td>{{item.channel}} / {{item.unreg_channel}}</td>
                            <td>{{findMyArray(params.packages,item.pkg_code)}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                    <template v-if="params.data.next_page_url !== null || params.data.prev_page_url !== null">
                        <div class="col-md-6" style="margin-top: 20px">
                            <div class="form-inline">
                                <label class="control-label">Hiển thị </label>
                                <select v-on:change="fetch()" v-model="search.per_page" class="form-control">
                                    <option value="10">10 hàng</option>
                                    <option value="25">25 hàng</option>
                                    <option value="50">50 hàng</option>
                                    <option value="100">100 hàng</option>
                                </select>
                                <label>
                                    {{showInfoPagination()}}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <nav aria-label="Page navigation" class="pull-right">
                                <ul class="pagination">
                                    <li v-model="params.data.prev_page_url"
                                        v-bind:class="params.data.prev_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="params.data.prev_page_url !== null ? fetch(params.data.prev_page_url) : ''">
                                            <i class="fa fa-angle-double-left"></i>
                                        </a>
                                    </li>

                                    <li v-for="page in pagesNumber"
                                        :class="{'active': page == params.data.current_page}">
                                        <a href="javascript:void(0);"
                                           v-on:click="fetch(params.data.path + '?page=' +page)">{{ page }}</a>
                                    </li>

                                    <li v-model="params.data.next_page_url"
                                        v-bind:class="params.data.next_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="params.data.next_page_url !== null ? fetch(params.data.next_page_url) : ''">
                                            <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </section>

</template>
<script>
    export default {
        components: {},
        data() {
            return {
                params: {
                    data: '',
                    sub:'',
                    packages: [],
                },
                search: {
                    isdn: '',
                    per_page: 25
                },
                userID: window.TrucBach.user.id,
                offset: 4
            };
        },
        computed: {
            pagesNumber: function () {
                if (!this.params.data.to) {
                    return [];
                }
                var from = this.params.data.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                var to = from + this.offset * 2;
                if (to >= this.params.data.last_page) {
                    to = this.params.data.last_page;
                }
                var pagesArray = [];
                for (from; from <= to; from++) {
                    pagesArray.push(from);
                }
                return pagesArray;
            }
        },
        mounted() {
            this.fetchPackages();
        },
        methods: {
            fetch(url) {
                if (this.search.isdn.trim() === '') {
                    this.$notify("alert", "Chưa nhập số điện thoại tra cứu!", 'error');
                    return false;
                }

                url = url || '/api/system/search-sub';
                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    this.params.data = response.data.data;
                });
            },
            fetchPackages(url) {
                url = url || "/api/content/packages";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.packages = response.data.data;
                    });
            },
            showStatus(value) {
                if (value == 1) {
                    return "Hoạt động";
                } else if (value == 3) {
                    return 'Hủy';
                }
                return "Pending";
            },
            showTimeUnreg(value, time) {
                if (value == 1) {
                    return "";
                } else if (value == 3) {
                    return time;
                }

                return "";
            },
            showInfoPagination: function () {
                return (
                    this.params.data.from +
                    "-" +
                    this.params.data.to +
                    " trong số " +
                    this.params.data.total
                );
            },
            findMyArray: function (myArray, key) {
                return myArray.find(x => x.value === key).price;
            }
        }
    }
</script>
<style>
    input[type="checkbox"] {
        width: 20px;
        height: 20px;
    }
</style>
