<template>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="form-group row">
                        <div class="col-md-3">
                            <date-picker v-model="search.start_date" :config="config"></date-picker>
                        </div>
                        <div class="col-md-3">
                            <button @click="fetch()" type="button" class="btn btn-block btn-primary">
                                <i class="fa fa-search"> Tìm kiếm</i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="vuetable table table-striped table-bordered">
                        <tbody>
                        <tr>
                            <th>STT</th>
                            <th>Ngày</th>
                            <th>TB trúng thưởng</th>
                            <th>Điểm số trúng thưởng</th>
                            <th>Gói cước</th>
                            <th>Trạng thái hiện tại</th>
                            <th>Số lần gia hạn trong tháng</th>
                            <th>Ngày đăng ký</th>
                            <th>Ngày hủy</th>
                        </tr>
                        <tr v-for="(item, idx) in params.data">
                            <td>{{idx + 1}}</td>
                            <td>{{search.start_date}}</td>
                            <td>{{item.msisdn}}</td>
                            <td>{{item.total}}</td>
                            <td>{{item.pkg_code}}</td>
                            <td v-html="showStatus(item.sub.service_state)"></td>
                            <td>{{item.renew}}</td>
                            <td>{{item.sub.reg_time}}</td>
                            <td v-html="showTimeUnreg(item.sub.service_state,item.sub.unreg_time)"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</template>
<script>
    var moment = require("moment");
    import HotelDatePicker from "vue-hotel-datepicker";
    import {
        ModelSelect
    } from "vue-search-select";

    export default {
        components: {
            ModelSelect,
            HotelDatePicker
        },
        data() {
            return {
                config: {
                    format: "YYYYMM",
                    useCurrent: true,
                    sideBySide: true
                },
                params: {
                    data: '',
                },
                search: {
                    start_date: moment().format("YYYYMM"),
                    per_page: 10
                },
                userID: window.TrucBach.user.id,
                offset: 4
            };
        },
        computed: {},
        mounted() {
            this.fetch();
        },
        methods: {
            fetch(url) {
                url = url || '/api/bonus/month';
                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    this.params.data = response.data.data;
                });
            },
            exportExcel: function (url) {
                url = url || '/api/export/sub-bonus-current';
                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    window.open(response.data.data, '_blank');
                });
            },
            showTopup(value) {
                if (value == 1) {
                    return '<i class="fa fa-check text-green"></i>';
                }
                return '<i class="fa fa-times-circle text-red"></i>';
            },
            showStatus(value) {
                if (value == 1) {
                    return "Active";
                } else if (value == 3) {
                    return 'Unregister';
                }
                return "Pending";
            },
            showTimeUnreg(value, time) {
                if (value == 1) {
                    return "";
                } else if (value == 3) {
                    return time;
                }

                return "";
            },
            showInfoPagination: function () {
                return (
                    this.params.data.from +
                    "-" +
                    this.params.data.to +
                    " trong số " +
                    this.params.data.total
                );
            },
        }
    }
</script>
