<template>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="form-group row">
                        <div class="col-md-2">
                            <input type="text" v-model="search.isdn" placeholder="Số điện thoại" class="form-control">
                        </div>
                        <div class="col-md-2">
                            <select v-model="search.prize_type" class="form-control">
                                <option value="TT HANG NGAY">TT hàng ngày</option>
                                <option value="NHAT NGAY">Nhất ngày</option>
                                <option value="KHUYEN KHICH NGAY">Khuyến khích ngày</option>
                                <option value="GIAI TB PENDING">Giải TB pending</option>
                                <option value="GIAI TUAN">Giải tuần</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <date-picker v-model="search.start_date" :config="config"></date-picker>
                        </div>
                        <div class="col-md-2">
                            <date-picker v-model="search.end_date" :config="config"></date-picker>
                        </div>
                        <div class="col-md-2">
                            <button @click="fetch()" type="button" class="btn btn-block btn-primary">
                                <i class="fa fa-search"> Tìm kiếm</i>
                            </button>
                        </div>
                        <div class="col-md-2">
                            <button @click="exportExcel()" type="button" class="btn btn-block btn-info">
                                <i class="fa fa-download"> Export to excel</i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>STT</th>
                            <th>Ngày</th>
                            <th>TB trúng thưởng</th>
                            <th>Điểm số trúng thưởng</th>
                            <th>Trạng thái hiện tại</th>
                            <th>Ngày đăng ký</th>
                            <th>Ngày hủy</th>
                            <th>Nạp tiền</th>
                            <th>Thời gian nạp</th>
                        </tr>
                        <tr v-for="item in params.data.data">
                            <td>{{item.ranking}}</td>
                            <td>{{item.win_date}}</td>
                            <td>{{item.msisdn}}</td>
                            <td>{{item.point}}</td>
                            <td v-html="showStatus(item.service_state)"></td>
                            <td>{{item.reg_time}}</td>
                            <td>{{item.unreg_time}}</td>
                            <td v-html="showTopup(item.face_value)"></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>

                    <template v-if="params.data.next_page_url !== null || params.data.prev_page_url !== null">
                        <div class="col-md-6" style="margin-top: 20px">
                            <div class="form-inline">
                                <label class="control-label">Hiển thị </label>
                                <select v-on:change="fetch()" v-model="search.per_page" class="form-control">
                                    <option value="10">10 hàng</option>
                                    <option value="25">25 hàng</option>
                                    <option value="50">50 hàng</option>
                                    <option value="100">100 hàng</option>
                                </select>
                                <label>
                                    {{showInfoPagination()}}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <nav aria-label="Page navigation" class="pull-right">
                                <ul class="pagination">
                                    <li v-model="params.data.prev_page_url"
                                        v-bind:class="params.data.prev_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="params.data.prev_page_url !== null ? fetch(params.data.prev_page_url) : ''">
                                            <i class="fa fa-angle-double-left"></i>
                                        </a>
                                    </li>

                                    <li v-for="page in pagesNumber"
                                        :class="{'active': page == params.data.current_page}">
                                        <a href="javascript:void(0);"
                                           v-on:click="fetch(params.data.path + '?page=' +page)">{{ page }}</a>
                                    </li>

                                    <li v-model="params.data.next_page_url"
                                        v-bind:class="params.data.next_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="params.data.next_page_url !== null ? fetch(params.data.next_page_url) : ''">
                                            <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </template>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</template>
<script>
    var moment = require("moment");
    import HotelDatePicker from "vue-hotel-datepicker";
    import {
        ModelSelect
    } from "vue-search-select";

    export default {
        components: {
            ModelSelect,
            HotelDatePicker
        },
        data() {
            return {
                config: {
                    format: "DD-MM-YYYY",
                    useCurrent: true,
                    sideBySide: true
                },
                params: {
                    data: '',
                },
                search: {
                    isdn: '',
                    start_date: moment().subtract(1, "days").format("DD-MM-YYYY"),
                    end_date: moment().subtract(1, "days").format("DD-MM-YYYY"),
                    prize_type:'TT HANG NGAY',
                    per_page: 10
                },
                userID: window.TrucBach.user.id,
                offset: 4
            };
        },
        computed: {
            pagesNumber: function () {
                if (!this.params.data.to) {
                    return [];
                }
                var from = this.params.data.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                var to = from + this.offset * 2;
                if (to >= this.params.data.last_page) {
                    to = this.params.data.last_page;
                }
                var pagesArray = [];
                for (from; from <= to; from++) {
                    pagesArray.push(from);
                }
                return pagesArray;
            }
        },
        mounted() {
            this.fetch();
        },
        methods: {
            fetch(url) {
                url = url || '/api/bonus/sub-bonus';
                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    this.params.data = response.data.data;
                });
            },
            exportExcel: function (url) {
                url = url || '/api/export/sub-bonus';
                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    window.open( response.data.data, '_blank');
                });
            },
            showTopup(value) {
                if (value !== null) {
                    return '<i class="fa fa-check text-green"></i> Đã nạp';
                }
                return '<i class="fa fa-times-circle text-red"></i> Chưa nạp';
            },
            showStatus(value) {
                if (parseInt(value) == 1) {
                    return "Active";
                } else if (parseInt(value) == 3) {
                    return 'Unregister';
                }
                return "Pending";
            },
            showInfoPagination: function () {
                return (
                    this.params.data.from +
                    "-" +
                    this.params.data.to +
                    " trong số " +
                    this.params.data.total
                );
            },
        }
    }
</script>
