<template>
    <div>
        <!--<div class="col-md-12">-->
            <!--<div class="box box-info">-->
                <!--<div class="box-header with-border">-->
                    <!--<h3 class="box-title">Thời gian thống kê</h3>-->
                <!--</div>-->
                <!--<div class="box-body">-->
                    <!--<div class="col-md-12">-->
                        <!--<form class="form-inline" v-on:submit.prevent="">-->
                            <!--&lt;!&ndash;                            <div class="form-group">&ndash;&gt;-->
                            <!--&lt;!&ndash;                                <label>Thời gian bắt đầu</label>&ndash;&gt;-->
                            <!--&lt;!&ndash;                                <date-picker v-model="search.start_date" :config="config"></date-picker>&ndash;&gt;-->
                            <!--&lt;!&ndash;                            </div>&ndash;&gt;-->
                            <!--&lt;!&ndash;                            <div class="form-group">&ndash;&gt;-->
                            <!--&lt;!&ndash;                                <label>Thời gian kết thúc</label>&ndash;&gt;-->
                            <!--&lt;!&ndash;                                <date-picker v-model="search.end_date" :config="config"></date-picker>&ndash;&gt;-->
                            <!--&lt;!&ndash;                            </div>&ndash;&gt;-->
                            <!--<div class="form-group">-->
                                <!--<label>Ngày theo dõi</label>-->
                                <!--<date-picker v-model="search.track_date" :config="config"></date-picker>-->
                            <!--</div>-->
                            <!--<button @click="fetch()" type="button" class="btn btn-info"><i class="fa fa-search"></i> Tra-->
                                <!--cứu-->
                            <!--</button>-->
                        <!--</form>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <div class="col-xs-12">
            <div class="box box-info">
                <!--                <div class="box-header">-->
                <!--                    <button class="btn btn-info pull-right" type="button" @click="exportExcel()" id="btnExport"><i class="fa fa-file-excel-o"></i> Export excel</button>-->
                <!--                </div>-->
                <div class="box-body table-responsive no-padding">
                    <table id="table2excel" class="table table-hover">
                        <tbody>
                        <tr>
                            <th>STT</th>
                            <th>Số điện thoại</th>
                            <th>Tình trạng</th>
                            <th>Thời gian đăng ký</th>
                        </tr>
                        <tr v-for="(item, index) in params.data.data">
                            <td>{{index + 1}}</td>
                            <td>{{item.msisdn}}</td>
                            <td>{{item.tinh_trang}}</td>
                            <td>{{item.reg_time}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>


</template>
<script>
    import HotelDatePicker from "vue-hotel-datepicker";
    import moment from "moment";

    export default {
        components: {
            HotelDatePicker
        },
        data() {
            return {
                params: {
                    data: '',
                    totalData: '',
                },
                search: {
                    start_date: moment().format("DD-MM-YYYY"),
                    end_date: moment().format("DD-MM-YYYY"),
                    track_date: moment().format("DD-MM-YYYY"),
                },
                config: {
                    format: "DD-MM-YYYY",
                    useCurrent: true,
                    sideBySide: true
                },
                start_date: moment().format("DD-MM-YYYY"),
                end_date: moment().format("DD-MM-YYYY"),
                track_date: moment().format("DD-MM-YYYY"),

                report_now: {
                    register: 0,
                    unregister: 0,
                    active_sub: 0,
                    recharge_amount: 0
                },
                revenue_range: {
                    amount: [],
                    percent: [],
                    summary: {
                        sum: 0,
                        percent: 0
                    }
                },
                revenue_sum: 0,
                revenue_percent: 0,
                register_range: {
                    register: [],
                    percent: [],
                    summary: {
                        distinct_isdn: 0,
                        first_reg: 0,
                        second_reg: 0,
                        total: 0
                    }
                },
                unregister_range: {
                    unregister: [],
                    percent: [],
                    summary: {
                        distinct_isdn: 0,
                        first_unreg: 0,
                        second_unreg: 0,
                        total: 0
                    }
                },
                userID: window.TrucBach.user.id,
                numeric: {
                    currency: '',
                    currencySymbolPosition: 'suffix',
                    readOnly: true
                },
            };
        },
        computed: {
            pagesNumber: function () {
                if (!this.params.data.to) {
                    return [];
                }
                var from = this.params.data.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                var to = from + this.offset * 2;
                if (to >= this.params.data.last_page) {
                    to = this.params.data.last_page;
                }
                var pagesArray = [];
                for (from; from <= to; from++) {
                    pagesArray.push(from);
                }
                return pagesArray;
            }
        },
        mounted() {
            this.fetch();
        },
        methods: {
            exportExcel: function (url) {
                url = url || '/api/export/quantity/statistic-control';
                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    window.open(response.data.data, '_blank');
                });
            },
            fetch(url) {
                url = url || '/api/bonus/ket-noi-nhanh-tay-tien-ve-tui-ngay';
                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    console.log(response.data);

                    this.params.data = response.data;
                });
            },
            showpoint(value) {
                if (!value) {
                    return 0;
                }
                return value;
            },
        }
    }
</script>
<style lang="css" scoped>
    .backTotal {

        background: #269abc;
    }

    .backTotal td {
        color: #fff
    }

    .headerT {
        padding-left: 30px
    }

</style>
