<template>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <date-picker v-model="search.start_date" :config="config"></date-picker>
                        </div>
                        <div class="col-md-4">
                            <date-picker v-model="search.end_date" :config="config"></date-picker>
                        </div>
                        <div class="col-md-4">
                            <button @click="fetch()" type="button" class="btn btn-block btn-primary">
                                <i class="fa fa-search"> Tìm kiếm</i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="vuetable table table-striped table-bordered">
                        <tbody>
                        <tr>
                            <th>Ngày</th>
                            <th v-for="t in params.data.time">{{t}}</th>
                        </tr>
                        <tr>
                            <td>10 điểm</td>
                            <td v-for="t in params.data.time">{{params.data.p_10[t]? params.data.p_10[t] : 0}}</td>
                        </tr>
                        <tr>
                            <td>20 - 70 điểm</td>
                            <td v-for="t in params.data.time">{{params.data.p_20_70[t]? params.data.p_20_70[t] : 0}}
                            </td>
                        </tr>
                        <tr>
                            <td>80 điểm</td>
                            <td v-for="t in params.data.time">{{params.data.p_80[t]? params.data.p_80[t] : 0}}</td>
                        </tr>
                        <tr>
                            <td>90 điểm</td>
                            <td v-for="t in params.data.time">{{params.data.p_90[t]? params.data.p_90[t] : 0}}</td>
                        </tr>
                        <tr>
                            <td>100 điểm</td>
                            <td v-for="t in params.data.time">{{params.data.p_100[t]? params.data.p_100[t] : 0}}</td>
                        </tr>
                        <tr>
                            <td>110 - 200 điểm</td>
                            <td v-for="t in params.data.time">{{params.data.p_110_200[t]? params.data.p_110_200[t] : 0}}
                            </td>
                        </tr>
                        <tr>
                            <td>Trên 200 điểm</td>
                            <td v-for="t in params.data.time">{{params.data.p_200[t]? params.data.p_200[t] : 0}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</template>
<script>
    var moment = require("moment");
    import HotelDatePicker from "vue-hotel-datepicker";
    import {
        ModelSelect
    } from "vue-search-select";

    export default {
        components: {
            ModelSelect,
            HotelDatePicker
        },
        data() {
            return {
                config: {
                    format: "DD-MM-YYYY",
                    useCurrent: true,
                    sideBySide: true
                },
                params: {
                    data: '',
                },
                search: {
                    isdn: '',
                    start_date: moment().subtract(6, "days").format("DD-MM-YYYY"),
                    end_date: moment().format("DD-MM-YYYY"),
                    per_page: 10
                },
                userID: window.TrucBach.user.id,
                offset: 4
            };
        },
        computed: {},
        mounted() {
            this.fetch();
        },
        methods: {
            fetch(url) {
                url = url || '/api/bonus/report-point';
                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    this.params.data = response.data.data;
                });
            },
            showpoint(value) {
                if (!value) {
                    return 0;
                }
                return value;
            },
            showInfoPagination: function () {
                return (
                    this.params.data.from +
                    "-" +
                    this.params.data.to +
                    " trong số " +
                    this.params.data.total
                );
            },
        }
    }
</script>
