<template>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="form-group row">
                        <div class="col-md-3">
                            <input type="text" v-model="search.isdn" placeholder="Số điện thoại" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <model-select :options="params.packages"
                                          v-model="search.pkg_code"
                                          placeholder="Gói cước">
                            </model-select>
                        </div>
                        <div class="col-md-2">
                            <date-picker v-model="search.start_date" :config="config"></date-picker>
                        </div>
                        <div class="col-md-2">
                            <date-picker v-model="search.end_date" :config="config"></date-picker>
                        </div>
                        <div class="col-md-2">
                            <button @click="fetch()" type="button" class="btn btn-block btn-primary">
                                <i class="fa fa-search"> Tìm kiếm</i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="vuetable table table-striped table-bordered">
                        <tbody>
                        <tr>
                            <th>STT</th>
                            <th>Ngày</th>
                            <th>TB</th>
                            <th>Điểm số</th>
                            <th>Gói cước</th>
                            <th>Hành động</th>
                            <th>Ngày đăng ký</th>
                            <th>Ngày hủy</th>
                        </tr>
                        <tr v-for="(item,idx) in params.data">
                            <td>{{idx + 1}}</td>
                            <td>{{item.avaiable_date}}</td>
                            <td>{{item.msisdn}}</td>
                            <td>{{item.point}}</td>
                            <td>{{item.pkg_code}}</td>
                            <td>{{item.action}}</td>
                            <td>{{item.sub.reg_time}}</td>
                            <td v-html="showTimeUnreg(item.sub.service_state,item.sub.unreg_time)"></td>
                        </tr>
                        <tr>
                            <td class="text-right" colspan="7">Tổng điểm</td>
                            <td>{{params.total}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</template>
<script>
    var moment = require("moment");
    import HotelDatePicker from "vue-hotel-datepicker";
    import {
        ModelSelect
    } from "vue-search-select";

    export default {
        components: {
            ModelSelect,
            HotelDatePicker
        },
        data() {
            return {
                config: {
                    format: "DD-MM-YYYY",
                    useCurrent: true,
                    sideBySide: true
                },
                params: {
                    data: '',
                    packages:[],
                    total:0
                },
                search: {
                    isdn: '',
                    pkg_code:'',
                    start_date: moment().format("DD-MM-YYYY"),
                    end_date: moment().format("DD-MM-YYYY"),
                    per_page: 25
                },
                userID: window.TrucBach.user.id,
                offset: 4
            };
        },
        computed: {
        },
        mounted() {
            // this.fetch();
            this.fetchPackages();
        },
        methods: {
            fetch(url) {
                url = url || '/api/bonus/search-point';

                if (this.search.isdn.trim() === '') {
                    this.$notify("alert", "Chưa nhập số điện thoại tra cứu!", 'error');
                    return false;
                }

                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    this.params.data = response.data.data;
                    this.params.total = response.data.total

                });
            },
            fetchPackages(url) {
                url = url || "/api/content/packages";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.packages = response.data.data;
                    });
            },
            exportExcel: function (url) {
                url = url || '/api/export/sub-bonus';
                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    window.open( response.data.data, '_blank');
                });
            },
            showTopup(value) {
                if (value !== null) {
                    return '<i class="fa fa-check text-green"></i> Đã nạp';
                }
                return '<i class="fa fa-times-circle text-red"></i> Chưa nạp';
            },
            showStatus(value) {
                if (parseInt(value) == 1) {
                    return "Active";
                } else if (parseInt(value) == 3) {
                    return 'Unregister';
                }
                return "Pending";
            },
            showInfoPagination: function () {
                return (
                    this.params.data.from +
                    "-" +
                    this.params.data.to +
                    " trong số " +
                    this.params.data.total
                );
            },
            showTimeUnreg(value, time) {
                if (value == 1) {
                    return "";
                } else if (value == 3) {
                    return time;
                }

                return "";
            },
        }
    }
</script>
