<template>
    <div class="row">
        <div class="col-xs-4">
            <div class="box">
                <div class="box-header with-border">
                    <h3 v-if="!user.id" class="box-title">
                        <i class="fa fa-plus-square"></i> Thêm người dùng</h3>
                    <h3 v-else class="box-title">
                        <i class="fa fa-edit"></i> Sửa người dùng</h3>
                </div>
                <div class="box-body">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Họ và tên</label>
                            <input type="text" class="form-control" v-model="user.name"
                                   placeholder="Tên">
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" v-model="user.email"
                                   placeholder="Địa chỉ email">
                        </div>
                        <div class="form-group">
                            <label>Mật khẩu</label>
                            <input type="password" class="form-control" v-model="user.password"
                                   placeholder="Nhập mật khẩu">
                        </div>
                        <div class="form-group">
                            <label>Vai trò</label>
                            <select v-model="user.role_id" class="form-control">
                                <option value="">Vai trò</option>
                                <option v-for="item in params.roles" :value="item.id">{{item.display_name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button @click="onSubmit()" type="submit" class="btn btn-success btn-flat pull-right">
                            <span v-if="!user.id"> Tạo người dùng</span>
                            <span v-else>Cập nhật</span>
                        </button>
                        <button v-on:click.prevent="setNullUser" type="reset"
                                class="btn btn-danger btn-flat pull-left">
                            <span>Hủy</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="box">
                <div class="box-header">
                    <div class="form-group row">
                        <div class="col-md-4">
                            <input type="text" v-model="search.name" placeholder="Tên người dùng" class="form-control">
                        </div>
                        <div class="col-md-4">
                            <select v-model="search.role_id" class="form-control">
                                <option value="">Vai trò</option>
                                <option v-for="item in params.roles" :value="item.id">{{item.display_name}}</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <button @click="fetch()" type="button" class="btn btn-block btn-primary">
                                <i class="fa fa-search"> Tìm kiếm</i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="vuetable table table-striped table-bordered">
                        <tbody>
                        <tr>
                            <th>#ID</th>
                            <th>Họ và tên</th>
                            <th>Vai trò</th>
                            <th>Trạng thái</th>
                            <th>Last Login</th>
                            <th>Thao tác</th>
                        </tr>
                        <tr v-for="item in params.data.data">
                            <td>{{item.id}}</td>
                            <td>
                                {{item.name}}
                                <p class="text-muted">{{item.email}}</p>
                            </td>
                            <td v-html="getRoleName(item.role_id)"></td>
                            <td v-html="showStatus(item.status)"></td>
                            <td>{{item.last_login}}</td>
                            <td>
                                <div v-if="item.id !== userID">
                                    <button @click="editUser(item)" class="btn btn-sm btn-info btn-flat">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button @click="updateStatus(item,0)" class="btn btn-sm btn-danger btn-flat"
                                            v-if="item.status === 1">
                                        <i class="fa fa-times-circle"></i>
                                    </button>
                                    <button @click="updateStatus(item,1)" class="btn btn-sm btn-success btn-flat"
                                            v-if="item.status === 0">
                                        <i class="fa fa-check"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="col-md-6" style="margin-top: 20px">
                        <div class="form-inline">
                            <label class="control-label">Hiển thị </label>
                            <select v-on:change="fetch()" v-model="search.per_page" class="form-control">
                                <option value="10">10 hàng</option>
                                <option value="25">25 hàng</option>
                                <option value="50">50 hàng</option>
                                <option value="100">100 hàng</option>
                            </select>
                            <label>
                                {{showInfoPagination()}}
                            </label>
                        </div>
                    </div>
                    <template v-if="params.data.next_page_url !== null || params.data.prev_page_url !== null">
                        <div class="col-md-6">
                            <nav aria-label="Page navigation" class="pull-right">
                                <ul class="pagination">
                                    <li v-model="params.data.prev_page_url"
                                        v-bind:class="params.data.prev_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="params.data.prev_page_url !== null ? fetch(params.data.prev_page_url) : ''">
                                            <i class="fa fa-angle-double-left"></i>
                                        </a>
                                    </li>

                                    <li v-for="page in pagesNumber"
                                        :class="{'active': page == params.data.current_page}">
                                        <a href="javascript:void(0);"
                                           v-on:click="fetch(params.data.path + '?page=' +page)">{{ page }}</a>
                                    </li>

                                    <li v-model="params.data.next_page_url"
                                        v-bind:class="params.data.next_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="params.data.next_page_url !== null ? fetch(params.data.next_page_url) : ''">
                                            <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </template>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</template>

<script>
    window.$ = window.jQuery = require("jquery");
    import {
        ModelSelect
    } from "vue-search-select";

    export default {
        components: {
            ModelSelect
        },

        data() {
            return {
                params: {
                    data: "",
                    roles: ''
                },
                search: {
                    name: "",
                    role_id: '',
                    per_page: 10
                },
                offset: 4,
                user: {
                    name: "",
                    email: "",
                    role_id: '',
                    password: ''
                },
                userID: window.TrucBach.user.id
            };
        },
        computed: {
            pagesNumber: function () {
                if (!this.params.data.to) {
                    return [];
                }
                var from = this.params.data.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                var to = from + this.offset * 2;
                if (to >= this.params.data.last_page) {
                    to = this.params.data.last_page;
                }
                var pagesArray = [];
                for (from; from <= to; from++) {
                    pagesArray.push(from);
                }
                return pagesArray;
            }
        },
        mounted() {
            this.fetch();
            this.fetchRole();
        },
        methods: {
            fetch(url) {
                url = url || '/api/users';
                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    this.params.data = response.data.data;
                });
            },
            editUser: function (item) {
                this.user = item;
            },
            updateStatus: function (item, status) {
                this.user = item;
                this.user.status = status;
                this.onSubmit();
            },
            onSubmit: function () {
                if (this.user.name.trim() === '') {
                    this.$notify("alert", "Chưa nhập tên người dùng", 'error');
                    return false;
                }
                if (this.user.email.trim() === '') {
                    this.$notify("alert", "Chưa nhập email người dùng", 'error');
                    return false;
                }
                if (this.user.role_id === '') {
                    this.$notify("alert", "Chưa chọn vai trò người dùng", 'error');
                    return false;
                }

                if (!this.user.id && this.user.password === '') {
                    this.$notify("alert", "Chưa nhập mật khẩu", 'error');
                    return false;
                }

                window
                    .axios({
                        method: !this.user.id ? "post" : "put",
                        url: !this.user.id ? "/api/user" : "/api/user/" + this.user.id,
                        data: this.user
                    })
                    .then(response => {
                        this.$notify("alert", response.data.message, response.data.status);
                        if (response.data.status == "success") {
                            this.setNullUser();
                            if (!this.user.id) {
                                this.fetch();
                            }
                        }
                    })
                    .catch(error => {
                        if (error.response && error.response.status == 422) {
                            let errMsg = error.response.data;
                            this.$notify("alert", errMsg.message, "error");
                        }
                    });
            },
            showInfoPagination: function () {
                return (
                    this.params.data.from +
                    "-" +
                    this.params.data.to +
                    " trong số " +
                    this.params.data.total
                );
            },
            endDateFormat: function (date) {
                return moment(date, "YYYY-MM-DD h:i:s").format("DD-MM-YYYY");
            },
            fetchRole(url) {
                url = url || '/api/roles';
                window.axios.get(url).then(response => {
                    this.params.roles = response.data.data;
                });
            },
            showStatus(value) {
                if (value == 1) {
                    return '<i class="fa fa-check text-green"></i>';
                }
                return '<i class="fa fa-times-circle text-red"></i>';
            },
            getRoleName: function (role_id) {
                let roles = '<p>';
                let rolebadge = {
                    superadmin: "badge bg-red",
                    content_manager: "badge bg-primary",
                    business_manager: "badge bg-green",
                    content_editor: "badge bg-yellow",
                    business_employee: "badge bg-navy",
                    collaborators: "badge bg-purple"
                };

                Array.prototype.forEach.call(this.params.roles, item => {
                    if (role_id === item.id) {
                        let roleColor = rolebadge[item.name];
                        roles +=
                            '<span class="' + roleColor + '">' + item.display_name + "</span>";
                    }
                });
                roles += "</p>";
                return roles;
            },
            setNullUser: function () {
                this.user = {
                    name: "",
                    email: "",
                    role_id: '',
                    password: ''
                }
            }
        }
    };
</script>
