<template>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="form-group row">
                        <div class="col-md-3">
                            <input type="text" v-model="search.name" placeholder="Họ và tên" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <v-select v-model="search.role_id" :options="['foo','bar']"></v-select>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-block btn-primary">
                                <i class="fa fa-search"> Tìm kiếm</i>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>#ID</th>
                            <th>Họ và tên</th>
                            <th>Email</th>
                            <th>Vai trò</th>
                            <th>Trạng thái</th>
                            <th>Đăng nhập</th>
                            <th>Thao tác</th>
                        </tr>
                        <tr v-for="item in params.data.data">
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.email}}</td>
                            <td v-html="getRoleName(item.role_id)"></td>
                            <td v-html="showStatus(item.status)"></td>
                            <td>{{item.last_login}}</td>
                            <td>
                                <div v-if="item.id !== userID">
                                    <button class="btn btn-sm btn-info btn-flat"><i class="fa fa-edit"></i></button>
                                    <button class="btn btn-sm btn-danger btn-flat" v-if="item.status === 1"><i class="fa fa-times-circle"></i></button>
                                    <button class="btn btn-sm btn-success btn-flat" v-if="item.status === 0"><i class="fa fa-check"></i></button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                params: {
                    data: '',
                    roles: ''
                },
                search: {
                    name: '',
                    role_id: ''
                },
                userID: window.TrucBach.user.id
            };
        },
        computed: {},
        mounted() {
            this.fetchUser();
            this.fetchRole();
        },
        methods: {
            fetchUser(url) {
                url = url || '/api/users';
                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    this.params.data = response.data;
                });
            },
            fetchRole(url) {
                url = url || '/api/roles';
                window.axios.get(url).then(response => {
                    this.params.roles = response.data;
                });
            },
            showStatus(value) {
                if (value == 1) {
                    return '<i class="fa fa-check text-green"></i>';
                }
                return '<i class="fa fa-times-circle text-red"></i>';
            },
            getRoleName: function (role_id) {
                let roles = '<p>';
                let rolebadge = {
                    superadmin: "badge bg-red",
                    content_manager: "badge bg-primary",
                    business_manager: "badge bg-green",
                    content_editor: "badge bg-yellow",
                    business_employee: "badge bg-navy",
                    collaborators : "badge bg-purple"
                };

                Array.prototype.forEach.call(this.params.roles, item => {
                    if (role_id === item.id) {
                        let roleColor = rolebadge[item.name];
                        roles +=
                            '<span class="' + roleColor + '">' + item.display_name + "</span>";
                    }
                });
                roles += "</p>";
                return roles;
            }
        }
    }
</script>
