<template>
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <div class="form-group row">
                        <div class="col-md-2 pull-right">
                            <button @click="updatePermission()" type="button" class="btn btn-block btn-primary">
                                Cập nhật
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table v-for="per in params.permissions" class="vuetable table table-striped table-bordered">
                        <tbody>
                        <tr>
                            <th width="120">{{per.label}}</th>
                            <template v-for="item in params.roles">
                                <th>{{item.display_name}}</th>
                            </template>
                        </tr>
                        <template v-for="(list, key) in per.permissions">
                            <tr>
                                <td>{{list}}</td>
                                <template v-for="(item, index) in params.roles">
                                    <td class="text-center">
                                        <label>
                                            <input style="width: 20px;height: 20px" :value="key" :id="list"
                                                   v-model="params.roles[index].permissions" type="checkbox">
                                        </label>
                                    </td>
                                </template>
                            </tr>
                        </template>

                        </tbody>
                    </table>

                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                params: {
                    roles: [],
                    permissions: []
                },
                role: '',
                roles: [],

            };
        },
        mounted() {
            this.fetchRole();
            this.fetchPermission();
        },
        methods: {
            fetchPermission(url) {
                url = url || '/api/permissions';
                window.axios.get(url).then(response => {
                    this.params.permissions = response.data.data;
                });
            },
            fetchRole(url) {
                url = url || '/api/roles';
                window.axios.get(url).then(response => {
                    this.params.roles = response.data.data;
                });
            },
            fetch: function (url, roles) {
                window.axios.get(url).then(response => this.roles = response.data.data)
            },
            updatePermission: function () {
                window.axios.put('/api/roles/update-permissions', {roles: this.params.roles})
                    .then(response => {
                        this.$notify("alert", response.data.message, response.data.status);
                        if (response.data.status == "success") {
                            this.setNullUser();
                            if (!this.user.id) {
                                this.fetch();
                            }
                        }
                    })
                    .catch(error => {
                        if (error.response && error.response.status == 422) {
                            let errMsg = error.response.data;
                            this.$notify("alert", errMsg.message, "error");
                        }
                    });
            },
        }
    }
</script>
