<template>
    <div class="row">
        <div class="col-xs-4">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-edit"></i> Sửa thông tin</h3>
                </div>
                <div class="box-body">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Tên </label>
                            <input type="text" class="form-control" v-model="user.name"
                                   placeholder="Tên người dùng">
                        </div>
                        <div class="form-group">
                            <label>Email đăng nhập</label>
                            <input disabled type="text" class="form-control" v-model="user.email"
                                   placeholder="Email đăng nhập">
                        </div>
                        <div class="form-group">
                            <label>Vai trò</label>
                            <select v-model="user.role_id" class="form-control" disabled>
                                <option value="">Vai trò</option>
                                <option v-for="item in params.roles" :value="item.id">{{item.display_name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button @click="onSubmit()" type="submit" class="btn btn-success btn-flat pull-right">
                            <span> Cập nhật</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-exchange"></i> Đổi mật khẩu</h3>
                </div>
                <div class="box-body">
                    <div class="box-body">
                        <div class="form-group">
                            <label>Mật khẩu</label>
                            <input type="password" class="form-control" v-model="resetPass.current"
                                   placeholder="Mật khẩu hiện tại">
                        </div>
                        <div class="form-group">
                            <label>Mật khẩu mới </label>
                            <input type="password" class="form-control" v-model="resetPass.new_pass"
                                   placeholder="Mật khẩu mới">
                        </div>
                        <div class="form-group">
                            <label>Xác nhận mật khẩu mới</label>
                            <input type="password" class="form-control" v-model="resetPass.confirm_new"
                                   placeholder="Xác nhận mật khẩu mới">
                        </div>
                    </div>
                    <div class="box-footer">
                        <button @click="onChangePass()" type="submit" class="btn btn-success btn-flat pull-right">
                            <span> Đổi mật khẩu</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-8">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        <i class="fa fa-history"></i> Lịch sử thao tác</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="vuetable table table-striped table-bordered">
                        <tbody>
                        <tr>
                            <th>STT</th>
                            <th>Action</th>
                            <th>Mô tả</th>
                            <th>Thời gian</th>
                        </tr>
                        <tr v-for="item in params.data.data">
                            <td>{{item.id}}</td>
                            <td>{{item.event_type}}</td>
                            <td>{{item.description}}</td>
                            <td>{{item.created_at}}</td>
                        </tr>
                        </tbody>
                    </table>

                    <template v-if="params.data.next_page_url !== null || params.data.prev_page_url !== null">
                        <div class="col-md-6" style="margin-top: 20px">
                            <div class="form-inline">
                                <label class="control-label">Hiển thị </label>
                                <select v-on:change="fetch()" v-model="search.per_page" class="form-control">
                                    <option value="10">10 hàng</option>
                                    <option value="25">25 hàng</option>
                                    <option value="50">50 hàng</option>
                                    <option value="100">100 hàng</option>
                                </select>
                                <label>
                                    {{showInfoPagination()}}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <nav aria-label="Page navigation" class="pull-right">
                                <ul class="pagination">
                                    <li v-model="params.data.prev_page_url"
                                        v-bind:class="params.data.prev_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="params.data.prev_page_url !== null ? fetch(params.data.prev_page_url) : ''">
                                            <i class="fa fa-angle-double-left"></i>
                                        </a>
                                    </li>

                                    <li v-for="page in pagesNumber"
                                        :class="{'active': page == params.data.current_page}">
                                        <a href="javascript:void(0);"
                                           v-on:click="fetch(params.data.path + '?page=' +page)">{{ page }}</a>
                                    </li>

                                    <li v-model="params.data.next_page_url"
                                        v-bind:class="params.data.next_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="params.data.next_page_url !== null ? fetch(params.data.next_page_url) : ''">
                                            <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </template>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</template>
<script>
    var moment = require("moment");

    import {
        ModelSelect
    } from "vue-search-select";

    export default {
        components: {
            ModelSelect
        },
        data() {
            return {
                params: {
                    data: '',
                    roles: ''
                },
                search: {
                    name: '',
                    per_page: 10
                },
                user: window.TrucBach.user,
                resetPass: {
                    current: '',
                    new_pass: '',
                    confirm_new: ''
                },
                userID: window.TrucBach.user.id,
                offset: 4
            };
        },
        computed: {
            pagesNumber: function () {
                if (!this.params.data.to) {
                    return [];
                }
                var from = this.params.data.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                var to = from + this.offset * 2;
                if (to >= this.params.data.last_page) {
                    to = this.params.data.last_page;
                }
                var pagesArray = [];
                for (from; from <= to; from++) {
                    pagesArray.push(from);
                }
                return pagesArray;
            }
        },
        mounted() {
            this.fetch();
            this.fetchRole();
        },
        methods: {
            fetch(url) {
                url = url || '/api/user/history';
                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    this.params.data = response.data.data;
                });
            },
            fetchRole(url) {
                url = url || '/api/roles';
                window.axios.get(url).then(response => {
                    this.params.roles = response.data.data;
                });
            },
            onChangePass: function () {
                window
                    .axios({
                        method: "put",
                        url: "/api/profile/change-pass",
                        data: this.resetPass
                    })
                    .then(response => {
                        console.log(response)
                        this.$notify("alert", response.data.message, response.data.status);
                    })
                    .catch(error => {
                        if (error.response && error.response.status == 422) {
                            let errMsg = error.response.data;
                            this.$notify("alert", errMsg.message, "error");
                        }
                    });
            },
            onSubmit: function () {
                if (this.user.name.trim() === '') {
                    this.$notify("alert", "Chưa nhập tên người dùng", 'error');
                    return false;
                }
                window
                    .axios({
                        method: "put",
                        url: "/api/profile/update",
                        data: this.user
                    })
                    .then(response => {
                        this.$notify("alert", response.data.message, response.data.status);
                    })
                    .catch(error => {
                        if (error.response && error.response.status == 422) {
                            let errMsg = error.response.data;
                            this.$notify("alert", errMsg.message, "error");
                        }
                    });
            },
            showInfoPagination: function () {
                return (
                    this.params.data.from +
                    "-" +
                    this.params.data.to +
                    " trong số " +
                    this.params.data.total
                );
            }
        }
    }
</script>
