<template>
    <div class="row">
        <!--<modal name="postDetail"-->
               <!--width="500px"-->
               <!--height="auto"-->
        <!--&gt;-->
            <!--<div class="container">-->
                <!--<div class="row">-->
                    <!--<div class="col-xs-12">-->
                        <!--<div class="boxTr">-->
                            <!--<tr>-->
                                <!--<td>Tiêu đề:</td>-->
                                <!--<td>{{detail.post_name}}</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>Ngày đăng:</td>-->
                                <!--<td>{{detail.created_time}}</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>Ngày hết hạn:</td>-->
                                <!--<td>{{detail.expired_time}}</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>Nội dung:</td>-->
                                <!--<td>{{detail.post_content}}</td>-->
                            <!--</tr>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        <!--</modal>-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="form-group row">
                        <div class="col-md-5">
                            <input type="text" v-model="search.name" placeholder="Tên tin đăng/Mã tin đăng" class="form-control">
                        </div>
                        <div class="col-md-2">
                            <select v-model="search.packageName" class="form-control">
                                <option value="">Tên gói</option>
                                <option value="VIECLAMCAU">Việc làm cầu</option>
                                <option value="BDSCAU">Bất động sản cầu</option>
                                <option value="VANTAICAU">Vận tải cầu</option>
                            </select>
                        </div>
                        <!--<div class="col-md-2">-->
                        <!--<select v-model="search.expiredTime" class="form-control">-->
                        <!--<option value="">Thời hạn</option>-->
                        <!--<option value="limited">Còn hạn</option>-->
                        <!--<option value="expired">Hết hạn</option>-->
                        <!--</select>-->
                        <!--</div>-->
                        <div class="col-md-2">
                            <select v-model="search.status" class="form-control">
                                <option value="">Trạng thái tin</option>
                                <!--<option value="draft">Nháp</option>-->
                                <option value="published">Đã publish</option>
                                <option value="close">Đã close</option>
                                <!--<option value="expired">Đã hết hạn</option>-->
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button type="button" @click="fetch()" class="btn btn-block btn-primary">
                                <i class="fa fa-search"> Tìm kiếm</i>
                            </button>
                        </div>
                    </div>
                </div>
                <div style="padding:0 10px;margin-bottom: 15px">
                    <a href="/profile/ho-so-viec-lam"  class="btn btn-sm btn-primary btn-flat" target="_blank">
                        <i class="fa fa-plus"></i> Thêm mới HS việc làm
                    </a>
                    <a href="/profile/ho-so-bds" class="btn btn-sm btn-primary btn-flat" target="_blank">
                        <i class="fa fa-plus"></i> Thêm mới HS bất động sản
                    </a>
                    <a href="/profile/ho-so-giao-thong" class="btn btn-sm btn-primary btn-flat" target="_blank">
                        <i class="fa fa-plus"></i> Thêm mới HS giao thông
                    </a>
                </div>
                <!-- /.box-header -->
                <div style="padding:0 10px;margin-bottom: 15px">
                    Thay đổi trạng thái :
                    <!--<button @click="changeStatus('draft')" class="btn btn-sm btn-info btn-flat">-->
                        <!--draft-->
                    <!--</button>-->
                    <button @click="changeStatus('published')" class="btn btn-sm btn-success btn-flat">
                        published
                    </button>
                    <!--<button @click="changeStatus('expired')" class="btn btn-sm btn-warning btn-flat">-->
                        <!--expired-->
                    <!--</button>-->
                    <button @click="changeStatus('close')" class="btn btn-sm btn-danger btn-flat">
                        close
                    </button>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="vuetable table table-striped table-bordered">
                        <tbody>
                        <tr>
                            <th><input type="checkbox" v-model="selectAll" @click="select"> Chọn
                            </th>
                            <th>STT</th>
                            <th>SĐT</th>
                            <th>Tên tin đăng</th>
                            <th>Mã tin đăng</th>
                            <th>Tên gói</th>
                            <th>Trạng trái tin</th>
                            <th>Sửa HS</th>
                        </tr>
                        <tr v-for="item in filteredData" :key="item.id">
                            <td><input type="checkbox" :value="item.id" v-model="selected"></td>
                            <td>{{item.id}}</td>
                            <td>{{item.msisdn}}</td>
                            <td>{{item.post_title}}</td>
                            <td>{{item.post_code}}</td>
                            <td>{{item.pkg_code}}</td>
                            <td style="color:red" >{{item.post_status}}</td>
                            <td v-if='item.pkg_code == "BDSCAU"'>

                                <a  class="btn btn-sm btn-primary btn-flat"  v-bind:href="'/profile/sua-ho-so-bds/'+ item.msisdn">
                                    <i class="fa fa-pencil-square-o"></i> BDSCAU
                                </a>
                            </td>
                            <td v-if='item.pkg_code == "VIECLAMCAU"'>

                                <a  class="btn btn-sm btn-primary btn-flat"  v-bind:href="'/profile/sua-ho-so-viec-lam/'+ item.msisdn">
                                    <i class="fa fa-pencil-square-o"></i> VIECLAMCAU
                                </a>
                            </td>
                            <td v-if='item.pkg_code == "VANTAICAU"'>

                                <a  class="btn btn-sm btn-primary btn-flat"  v-bind:href="'/profile/sua-ho-so-giao-thong/'+ item.msisdn">
                                    <i class="fa fa-pencil-square-o"></i>VANTAICAU
                                </a>
                            </td>
                            <!--<td>-->
                                <!--<button  class="btn btn-sm btn-primary btn-flat" @click="show(item)">-->
                                    <!--<i class="fa fa-newspaper-o"></i>-->
                                <!--</button>-->
                            <!--</td>-->
                            <!--<td>{{item.expired_time}}</td>-->
                        </tr>
                        </tbody>
                    </table>

                    <template v-if="params.data.next_page_url !== null || params.data.prev_page_url !== null">
                        <div class="col-md-6" style="margin-top: 20px">
                            <div class="form-inline">
                                <label class="control-label">Hiển thị </label>
                                <select v-on:change="fetch()" v-model="search.per_page" class="form-control">
                                    <option value="10">10 hàng</option>
                                    <option value="25">25 hàng</option>
                                    <option value="50">50 hàng</option>
                                    <option value="100">100 hàng</option>
                                </select>
                                <label>
                                    {{showInfoPagination()}}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <nav aria-label="Page navigation" class="pull-right">
                                <ul class="pagination">
                                    <li v-model="params.data.prev_page_url"
                                        v-bind:class="params.data.prev_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="params.data.prev_page_url !== null ? fetch(params.data.prev_page_url) : ''">
                                            <i class="fa fa-angle-double-left"></i>
                                        </a>
                                    </li>

                                    <li v-for="page in pagesNumber"
                                        :class="{'active': page == params.data.current_page}">
                                        <a href="javascript:void(0);"
                                           v-on:click="fetch(params.data.path + '?page=' +page)">{{ page }}</a>
                                    </li>

                                    <li v-model="params.data.next_page_url"
                                        v-bind:class="params.data.next_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="params.data.next_page_url !== null ? fetch(params.data.next_page_url) : ''">
                                            <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </template>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</template>
<script>
    var moment = require("moment");

    import {
        ModelSelect
    } from "vue-search-select";

    export default {
        components: {
            ModelSelect
        },
        data() {
            return {
                params: {
                    data: '',
                },
                search: {
                    name: '',
                    packageName:'',
                    status:'',
                    per_page: 10
                },
                status: {
                    listSelected:'',
                    statusName:''
                },
                userID: window.TrucBach.user.id,
                offset: 4,
                selected: [],
                selectAll: false,
                detail:''

            };
        },
        computed: {
            pagesNumber: function () {
                if (!this.params.data.to) {
                    return [];
                }
                var from = this.params.data.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                var to = from + this.offset * 2;
                if (to >= this.params.data.last_page) {
                    to = this.params.data.last_page;
                }
                var pagesArray = [];
                for (from; from <= to; from++) {
                    pagesArray.push(from);
                }
                return pagesArray;
            },
            filteredData: function () {

                var search_array = this.params.data.data,
                    searchString = this.search.name;

                if(!searchString){
                    return search_array;
                }

                searchString = searchString.trim().toLowerCase();

                search_array = search_array.filter(item => {
                    if(item.post_title.toLowerCase().indexOf(searchString) !== -1 || item.post_code.toLowerCase().indexOf(searchString) !== -1){

                        return item;
                    }
                });

                // Return an array with the filtered data.
                return search_array;
            }
        },
        mounted() {

            this.fetch();
        },
        methods: {
            fetch(url) {
                url = url || '/api/post/hoSoDemandsources';
                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    console.log(response.data.data)
                    this.params.data = response.data.data;
                });
            },
            // show (data) {
            //     this.detail = data;
            //     this.$modal.show('postDetail');
            // },
            select() {
                this.selected = [];
                if (!this.selectAll) {
                    for (let i in this.params.data.data) {
                        this.selected.push(this.params.data.data[i].id);
                    }
                }
            },
            changeStatus: function(status){
                this.status.statusName = status;
                this.status.listSelected = this.selected;
                window.axios({
                    method: "put",
                    url: "/api/post/changeStatusDeman",
                    data: this.status
                }).then(response => {
                    console.log(response.data)
                    this.$notify("alert", response.data.message, response.data.status);
                    if (response.data.status == "success") {
                        this.fetch();
                    }
                })
                .catch(error => {
                    if (error.response && error.response.status == 422) {
                        let errMsg = error.response.data;
                        this.$notify("alert", errMsg.message, "error");
                    }
                });

            },
            showInfoPagination: function () {
                return (
                    this.params.data.from +
                    "-" +
                    this.params.data.to +
                    " trong số " +
                    this.params.data.total
                );
            },
        }
    }
</script>
<!--<style lang="css" scoped>-->
    <!--.boxTr{-->
        <!--padding:40px 0;-->
    <!--}-->
    <!--.boxTr tr td{-->
        <!--padding:5px 20px;-->
    <!--}-->
    <!--.boxTr tr td:first-child{-->
        <!--color: red;-->
        <!--width: 130px;-->
    <!--}-->
    <!--.boxTr tr td:last-child{-->
        <!--max-width: 355px;-->

    <!--}-->
<!--</style>-->
