<template>
    <div class="row">
        <modal name="postDetail"
               width="500px"
               height="auto"
               >
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="boxTr">
                            <tr>
                                <td>Tiêu đề:</td>
                                <td>{{detail.post_name}}</td>
                            </tr>
                            <tr>
                                <td>Ngày đăng:</td>
                                <td>{{detail.created_time}}</td>
                            </tr>
                            <tr>
                                <td>Nội dung:</td>
                                <td>{{detail.post_content}}</td>
                            </tr>
                        </div>
                    </div>
                </div>
            </div>

        </modal>
<!--        <modal name="addPost"-->
<!--               width="900px"-->
<!--               height="auto"-->
<!--               scrollable=true-->

<!--        >-->
<!--                <div class="row">-->
<!--                    <div class="col-xs-12">-->
<!--                        <div class="boxTr">-->
<!--                            <div class="boxForm">-->
<!--                                <div class="boxForm-title" style="text-align: center;">-->
<!--                                    <h3>Đăng tin</h3>-->
<!--                                </div>-->
<!--                                    <div class="box-body clearfix">-->
<!--                                        <div class="col-m-12">-->
<!--                                            <div class=" selectContainer">-->
<!--                                                <label class="col-sm-3 control-label">Gói dịch vụ <span style="color: red">(<span style="position: relative;top: 4px;">*</span>)</span> :</label>-->
<!--                                                <div class="col-sm-9" style="margin-bottom: 10px;">-->
<!--                                                    <select class="form-control ckeckPackage " name="benefitPackage">-->
<!--                                                        <option value="">Chọn gói</option>-->

<!--                                                    </select>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class=" selectContainer">-->
<!--                                                <label class="col-sm-3 control-label">Nhu cầu <span style="color: red">(<span style="position: relative;top: 4px;">*</span>)</span> :</label>-->
<!--                                                <div class="col-sm-9" style="margin-bottom: 10px;">-->
<!--                                                    <select class="form-control exigency" name="exigency">-->
<!--                                                        <option value="">Chọn nhu cầu</option>-->
<!--                                                    </select>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="selectContainer">-->
<!--                                                <label class="col-sm-3 control-label">Lĩnh vực/ Phân loại <span style="color: red">(<span style="position: relative;top: 4px;">*</span>)</span> :</label>-->
<!--                                                <div class="col-sm-9" style="margin-bottom: 10px;">-->
<!--                                                    <select class="form-control classify" name="classify">-->
<!--                                                        <option value="">Chọn lĩnh vực</option>-->
<!--                                                    </select>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="">-->
<!--                                                <label  class="col-sm-3 control-label"> Tiêu đề <span style="color: red">(<span style="position: relative;top: 4px;">*</span>)</span> :</label>-->
<!--                                                <div class="col-sm-9" style="margin-bottom: 10px;">-->
<!--                                                    <input type="text" class="form-control" name="title" value=""-->
<!--                                                           placeholder="VD: Tuyển lao động phổ thông tại Bình Thuận"-->
<!--                                                           autocomplete="off">-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class=" checkJobPrice">-->

<!--                                                <label for="" class="col-sm-3 control-label">Giá <span style="color: red">(<span style="position: relative;top: 4px;">*</span>)</span> :</label>-->
<!--                                                <div class="col-sm-9" style="margin-bottom: 10px;">-->
<!--                                                    <div class="row">-->
<!--                                                        <div class="col-xs-8" style="padding-right: 0">-->
<!--                                                            <input type="text" class="form-control price checkPrice"-->
<!--                                                                   name="price" placeholder="VD: 6.000.000" value=""-->
<!--                                                                   autocomplete="off">-->
<!--                                                        </div>-->
<!--                                                        <div class="col-xs-4">-->
<!--                                                            <select class="form-control denomination" name="denominations"-->
<!--                                                                    style="padding-right: 0px">-->
<!--                                                                <option value="Đồng">Đồng</option>-->
<!--                                                                <option selected value="Triệu">Triệu</option>-->
<!--                                                                <option value="Tỷ">Tỷ</option>-->
<!--                                                            </select>-->
<!--                                                        </div>-->
<!--                                                    </div>-->
<!--                                                    <p style="color: #1c7430;margin-top: 3px;">Tổng giá tiền: <span-->
<!--                                                            class="totalPrice">0 Triệu</span></p>-->
<!--                                                </div>-->
<!--                                            </div>-->

<!--                                            <div class=" checkJobWage none">-->
<!--                                                <label for="" class="col-sm-3 control-label">Mức lương <span style="color: red">(<span style="position: relative;top: 4px;">*</span>)</span> :</label>-->
<!--                                                <div class="col-sm-9" style="margin-bottom: 10px;">-->
<!--                                                    <select class="form-control " name="wage">-->
<!--                                                        <option value="">Chọn mức lương</option>-->

<!--                                                    </select>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="">-->
<!--                                                <label for="" class="col-sm-3 control-label"> Thời hạn <span style="color: red">(<span style="position: relative;top: 4px;">*</span>)</span> :</label>-->
<!--                                                <div class="col-sm-9" style="margin-bottom: 10px;">-->
<!--                                                    <input type="date" class="form-control date" name="timeOut" value=""-->
<!--                                                           placeholder="" autocomplete="off" style="width: 100%">-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="">-->
<!--                                                <label for="" class="col-sm-3 control-label">Thành phố <span style="color: red">(<span style="position: relative;top: 4px;">*</span>)</span> :</label>-->
<!--                                                <div class="col-sm-9" style="margin-bottom: 10px;">-->
<!--                                                    <select class="form-control ckeckProvince" name="nip_province">-->
<!--                                                        <option value="">Chọn thành phố</option>-->

<!--                                                    </select>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="">-->
<!--                                                <label for="" class="col-sm-3 control-label">Quận huyện <span style="color: red">(<span style="position: relative;top: 4px;">*</span>)</span> :</label>-->
<!--                                                <div class="col-sm-9" style="margin-bottom: 10px;">-->
<!--                                                    <select class="form-control nip_district" name="nip_district">-->
<!--                                                        <option value="">Chọn quận huyện</option>-->

<!--                                                    </select>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="">-->
<!--                                                <label for="" class="col-sm-3 control-label"> Địa chỉ liên lạc :</label>-->
<!--                                                <div class="col-sm-9" style="margin-bottom: 10px;">-->
<!--                                            <textarea rows="4" cols="50" class="form-control"-->
<!--                                                      name="nip_address"></textarea>-->
<!--                                                </div>-->
<!--                                            </div>-->

<!--                                            <div class="">-->
<!--                                                <label for="" class="col-sm-3 control-label"> Nội dung :</label>-->
<!--                                                <div class="col-sm-9" style="margin-bottom: 10px;">-->
<!--                                                    <textarea rows="4" cols="50" class="form-control" name="content"></textarea>-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                            <div class="">-->
<!--                                                <label for="" class="col-sm-3 control-label"></label>-->
<!--                                                <div class="col-sm-9" style="margin-top: 5px;">-->
<!--                                                    <input style="position: relative;top: 1px" type="checkbox" name="checkY"-->
<!--                                                           checked/> Tôi đồng ý và chịu trách nhiệm hoàn toàn với nội dung tin-->
<!--                                                    đăng.-->
<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <hr>-->
<!--                                    &lt;!&ndash; /.box-body &ndash;&gt;-->
<!--                                    <div class="box-footer text-center">-->
<!--                                        <button type="submit" class="btn btn-primary">Đăng tin</button>-->
<!--                                    </div>-->
<!--                                    &lt;!&ndash; /.box-footer &ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--        </modal>-->
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="form-group row">
                        <div class="col-md-5">
                            <input type="text" v-model="search.name" placeholder="Tên tin đăng/Mã tin đăng" class="form-control">
                        </div>
                        <div class="col-md-2">
                            <select v-model="search.packageName" class="form-control">
                                <option value="">Tên gói</option>
                                <option value="VIECLAMCUNG">Việc làm cung</option>
                                <option value="BDSCUNG">Bất động sản cung</option>
                                <option value="VANTAICUNG">Vận tải cung</option>
                            </select>
                        </div>
                        <!--<div class="col-md-2">-->
                            <!--<select v-model="search.expiredTime" class="form-control">-->
                                <!--<option value="">Thời hạn</option>-->
                                <!--<option value="limited">Còn hạn</option>-->
                                <!--<option value="expired">Hết hạn</option>-->
                            <!--</select>-->
                        <!--</div>-->
                        <div class="col-md-2">
                            <select v-model="search.status" class="form-control">
                                <option value="">Trạng thái tin</option>
                                <!--<option value="draft">Nháp</option>-->
                                <option value="published">Đã publish</option>
                                <option value="close">Đã close</option>
                                <!--<option value="expired">Đã hết hạn</option>-->
                            </select>
                        </div>
                        <div class="col-md-3">
                            <button type="button" @click="fetch()" class="btn btn-block btn-primary">
                                <i class="fa fa-search"> Tìm kiếm</i>
                            </button>
                        </div>
                    </div>
                </div>
                <div style="padding:0 10px;margin-bottom: 15px">
                    <a href="/tin-dang/trang-thai-tin-nguon-cung/dang-tin" class="btn btn-sm btn-primary btn-flat" target="_blank">
                        <i class="fa fa-plus"></i> Thêm mới
                    </a>
                </div>
                <!-- /.box-header -->
                <div style="padding:0 10px;margin-bottom: 15px">
                    Thay đổi trạng thái :
                    <!--<button @click="changeStatus('draft')" class="btn btn-sm btn-info btn-flat">-->
                        <!--draft-->
                    <!--</button>-->
                    <button @click="changeStatus('published')" class="btn btn-sm btn-success btn-flat">
                        published
                    </button>
                    <!--<button @click="changeStatus('expired')" class="btn btn-sm btn-warning btn-flat">-->
                        <!--expired-->
                    <!--</button>-->
                    <button @click="changeStatus('close')" class="btn btn-sm btn-danger btn-flat">
                        close
                    </button>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="vuetable table table-striped table-bordered">
                        <tbody>
                        <tr>
                            <th><input type="checkbox" v-model="selectAll" @click="select"> Chọn
                            </th>
                            <th>STT</th>
                            <th>SĐT</th>
                            <th>Tên tin đăng</th>
                            <th>Mã tin đăng</th>
                            <th>Tên gói</th>
                            <th>Trạng trái tin</th>
                            <th>Thời hạn</th>
                            <th>Chi tiết</th>
                            <th>Sửa tin</th>
                        </tr>
                        <tr v-for="item in filteredData" :key="item.id">
                            <td><input type="checkbox" :value="item.id" v-model="selected"></td>
                            <td>{{item.id}}</td>
                            <td>{{item.msisdn}}</td>
                            <td>{{item.post_title}}</td>
                            <td>{{item.post_code}}</td>
                            <td>{{item.pkg_code}}</td>
                            <td style="color:red" >{{item.post_status}}</td>
                            <td>{{item.expired_time}}</td>
                            <td>
                                <button  class="btn btn-sm btn-primary btn-flat" @click="show(item)">
                                    <i class="fa fa-newspaper-o"></i>
                                </button>
                            </td>
                            <td>
                                <a  class="btn btn-sm btn-primary btn-flat"  v-bind:href="'/cap-nhat-tin-dang/'+ item.id">
                                    <i class="fa fa-pencil-square-o"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <template v-if="params.data.next_page_url !== null || params.data.prev_page_url !== null">
                        <div class="col-md-6" style="margin-top: 20px">
                            <div class="form-inline">
                                <label class="control-label">Hiển thị </label>
                                <select v-on:change="fetch()" v-model="search.per_page" class="form-control">
                                    <option value="10">10 hàng</option>
                                    <option value="25">25 hàng</option>
                                    <option value="50">50 hàng</option>
                                    <option value="100">100 hàng</option>
                                </select>
                                <label>
                                    {{showInfoPagination()}}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <nav aria-label="Page navigation" class="pull-right">
                                <ul class="pagination">
                                    <li v-model="params.data.prev_page_url"
                                        v-bind:class="params.data.prev_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="params.data.prev_page_url !== null ? fetch(params.data.prev_page_url) : ''">
                                            <i class="fa fa-angle-double-left"></i>
                                        </a>
                                    </li>

                                    <li v-for="page in pagesNumber"
                                        :class="{'active': page == params.data.current_page}">
                                        <a href="javascript:void(0);"
                                           v-on:click="fetch(params.data.path + '?page=' +page)">{{ page }}</a>
                                    </li>

                                    <li v-model="params.data.next_page_url"
                                        v-bind:class="params.data.next_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="params.data.next_page_url !== null ? fetch(params.data.next_page_url) : ''">
                                            <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </template>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</template>
<script>
    var moment = require("moment");

    import {
        ModelSelect
    } from "vue-search-select";

    export default {
        components: {
            ModelSelect
        },
        data() {
            return {
                params: {
                    data: '',
                },
                search: {
                    name: '',
                    packageName:'',
                    status:'',
                    per_page: 10
                },
                status: {
                    listSelected:'',
                    statusName:''
                },
                userID: window.TrucBach.user.id,
                offset: 4,
                selected: [],
                selectAll: false,
                detail:''

            };
        },
        computed: {
            pagesNumber: function () {
                if (!this.params.data.to) {
                    return [];
                }
                var from = this.params.data.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                var to = from + this.offset * 2;
                if (to >= this.params.data.last_page) {
                    to = this.params.data.last_page;
                }
                var pagesArray = [];
                for (from; from <= to; from++) {
                    pagesArray.push(from);
                }
                return pagesArray;
            },
            filteredData: function () {
                var search_array = this.params.data.data,
                    searchString = this.search.name;

                if(!searchString){
                    return search_array;
                }

                searchString = searchString.trim().toLowerCase();

                search_array = search_array.filter(item => {
                    if(item.post_title.toLowerCase().indexOf(searchString) !== -1 || item.post_code.toLowerCase().indexOf(searchString) !== -1){
                        return item;
                    }
                });

                // Return an array with the filtered data.
                return search_array;
            }
        },
        mounted() {

            this.fetch();
        },
        methods: {
            fetch(url) {
                url = url || '/api/post/postSupply';
                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    this.params.data = response.data.data;
                });
            },
            show (data) {
                this.detail = data;
                this.$modal.show('postDetail');
            },
            // addPost () {
            //     // this.detail = data;
            //     this.$modal.show('addPost');
            // },

            select() {
                this.selected = [];
                if (!this.selectAll) {
                    for (let i in this.params.data.data) {
                        this.selected.push(this.params.data.data[i].id);
                    }
                }
            },
            changeStatus: function(status){
                this.status.statusName = status;
                this.status.listSelected = this.selected;
                window.axios({
                    method: "put",
                    url: "/api/post/changeStatus",
                    data: this.status
                })
                .then(response => {
                    console.log(response.data)
                    this.$notify("alert", response.data.message, response.data.status);
                    if (response.data.status == "success") {
                            this.fetch();
                    }
                    // Vue.set(this.params.data.data[1], 'post_status', 1234 )
                    // for (let i in response.data) {
                    //     this.selected.push(this.response.data[i].id);
                    // }
                })
                .catch(error => {
                    if (error.response && error.response.status == 422) {
                        let errMsg = error.response.data;
                        this.$notify("alert", errMsg.message, "error");
                    }
                });
            },
            showInfoPagination: function () {
                return (
                    this.params.data.from +
                    "-" +
                    this.params.data.to +
                    " trong số " +
                    this.params.data.total
                );
            },

        }
    }
</script>
<style lang="css" scoped>
    .boxTr{
        padding:40px 0;
    }
    .boxTr tr td{
        padding:5px 20px;
    }
    .boxTr tr td:first-child{
        color: red;
        width: 130px;
    }
    .boxTr tr td:last-child{
        max-width: 355px;

    }
    .v--modal-overlay{
        z-index: 9999999;
    }
</style>
