<template>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <div class="form-group row">
                        <div class="col-md-3">
                            <input type="text" v-model="search.name" placeholder="Tên tin tức" class="form-control">
                        </div>
                        <div class="col-md-3">
                            <model-select :options="params.categories"
                                          v-model="search.category_id"
                                          placeholder="Chuyên mục">
                            </model-select>
                        </div>
                        <div class="col-md-3">
                            <button @click="fetch()" type="button" class="btn btn-block btn-primary">
                                <i class="fa fa-search"> Tìm kiếm</i>
                            </button>
                        </div>
                        <div class="col-md-3">
                            <a href="/news/create">
                                <button @click="createJob()" type="button" class="btn btn-block btn-danger">
                                    <i class="fa fa-plus"> Tạo tin tức</i>
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>
                            <th>
                                #ID
                            </th>
                            <th>Ảnh</th>
                            <th width="20%">Tiêu đề</th>
                            <th width="25%">Mô tả</th>
                            <th>Ngày tạo</th>
                            <th>Trạng thái</th>
                            <th>Hành động</th>
                        </tr>
                        <tr v-for="(item,idx) in params.data.data">
                            <td>{{item.id}}</td>
                            <td>
                                <img style="width: 70px" :src="item.thumb ? item.thumb : '/img/post.jpg'"
                                     class="img-fluid">
                            </td>
                            <td>
                                {{item.title}}
                            </td>
                            <td>{{item.description}}</td>
                            <td>{{endDateFormat(item.created_at)}}</td>
                            <td v-html="getStatus(item.status)"></td>
                            <td>
                                <a target="_blank" :href="'/news/edit/' + item.id">
                                    <button class="btn btn-sm btn-info btn-flat">
                                        <i class="fa fa-edit"></i> Sửa
                                    </button>
                                </a>
                                <button v-if="item.status === 'draft'" @click="changeStatus(item,'yes')"
                                        class="btn btn-sm btn-danger btn-flat">
                                    <i class="fa fa-times-circle"></i> Duyệt
                                </button>
                                <button v-else @click="changeStatus(item,'draft')"
                                        class="btn btn-sm btn-warning btn-flat">
                                    <i class="fa fa-times-circle"></i> Không Duyệt
                                </button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <template v-if="params.data.next_page_url !== null || params.data.prev_page_url !== null">
                        <div class="col-md-4" style="margin-top: 20px">
                            <div class="form-inline">
                                <label class="control-label">Hiển thị </label>
                                <select v-on:change="fetch()" v-model="search.per_page" class="form-control">
                                    <option value="10">10 hàng</option>
                                    <option value="25">25 hàng</option>
                                    <option value="50">50 hàng</option>
                                    <option value="100">100 hàng</option>
                                </select>
                                <label>
                                    {{showInfoPagination()}}
                                </label>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <nav aria-label="Page navigation" class="pull-right">
                                <ul class="pagination">
                                    <li v-model="params.data.prev_page_url"
                                        v-bind:class="params.data.prev_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="fetch(params.data.prev_page_url)">
                                            <i class="fa fa-angle-double-left"></i></a>
                                    </li>

                                    <li v-for="page in pagesNumber"
                                        :class="{'active': page == params.data.current_page}">
                                        <a href="javascript:void(0);"
                                           v-on:click="fetch(params.data.path + '?page=' +page)">{{ page }}</a>
                                    </li>

                                    <li v-model="params.data.next_page_url"
                                        v-bind:class="params.data.next_page_url === null ? 'page-item disabled' : 'page-item'">
                                        <a class="page-link" href="javascript:void(0);"
                                           v-on:click="fetch(params.data.next_page_url)">
                                            <i class="fa fa-angle-double-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </template>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
</template>
<script>
    import {ModelSelect} from 'vue-search-select';
    import {MultiSelect} from 'vue-search-select';

    export default {
        components: {
            ModelSelect,
            MultiSelect
        },
        data() {
            return {
                params: {
                    data: '',
                    provinces: [],
                    categories: [],
                },
                search: {
                    name: '',
                    category_id: '',
                    per_page: 25,
                },
                offset: 4,
                userID: window.TrucBach.user.id
            };
        },
        computed: {
            pagesNumber: function () {
                if (!this.params.data.to) {
                    return [];
                }
                var from = this.params.data.current_page - this.offset;
                if (from < 1) {
                    from = 1;
                }
                var to = from + this.offset * 2;
                if (to >= this.params.data.last_page) {
                    to = this.params.data.last_page;
                }
                var pagesArray = [];
                for (from; from < to; from++) {
                    pagesArray.push(from);
                }
                return pagesArray;
            }
        },
        mounted() {
            this.fetch();
            this.fetchCategory();
            // this.fetchCompany();
        },
        methods: {
            deleteJob: function (id, idx) {
                window
                    .axios({
                        method: "delete",
                        url: "/api/job/delete/" + id
                    })
                    .then(response => {
                        if (response.data.status == "success") {
                            this.params.data.data.splice(idx, 1);
                        }
                    })
                    .catch(error => {
                        if (error.response && error.response.status == 422) {
                            let errMsg = error.response.data;
                            this.$notify("alert", errMsg.message, "error");
                        }
                    });
            },
            changeStatus: function (item, status) {
                item.status = status;
                window
                    .axios({
                        method: !item ? "post" : "put",
                        url: !item ? "/api/news/create" : "/api/news/update",
                        data: item
                    })
                    .then(response => {
                        this.$notify("alert", "Cập nhật trạng thái thành công!", response.data.status);
                    })
                    .catch(error => {
                        if (error.response && error.response.status == 422) {
                            let errMsg = error.response.data;
                            this.$notify("alert", errMsg.message, "error");
                        }
                    });
            },
            fetchCategory(url) {
                url = url || "/api/news/category";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.categories = response.data.data;
                    });
            },
            fetch(url) {
                url = url || '/api/news';
                window.axios.get(url, {
                        params: this.search
                    }
                ).then(response => {
                    this.params.data = response.data.data;
                });
            },
            fetchProvince(url) {
                url = url || "/api/crawl/province";
                window.axios
                    .get(url)
                    .then(response => {
                        this.params.provinces = response.data.data;
                    });
            },
            showInfoPagination: function () {
                return this.params.data.from + '-' + this.params.data.to + ' trong số ' + this.params.data.total;
            },
            endDateFormat: function (date) {
                return moment(date, 'YYYY-MM-DD h:i:s').format('DD-MM-YYYY');
            },
            getStatus: function (status) {
                if (status === 'draft') {
                    return '<span class="label label-warning">Chưa duyệt</span>';
                } else {
                    return '<span class="label label-info">Đã duyệt</span>'
                }
            }
        }
    }
</script>

